﻿
@{
    Layout = null;
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
    string CampaignTitle = (ViewBag.CampaignTitle != null ? "Enter Token for " + ViewBag.CampaignTitle : "Invalid Campaign");
    string CampaignStatus = (ViewBag.CampaignStatus != null ? ViewBag.CampaignStatus : "Inactive");
    string errorText = (CampaignStatus == "Inactive" ? "Sorry, This Campaign is inactive." : "");
    errorText = (CampaignTitle == "Invalid Campaign" ? "Sorry, This Campaign is invalid." : errorText);
    bool shouldShow = CampaignStatus != "Inactive";
    string URLbg = ViewBag.URLbg;
    string URLlogo= ViewBag.URLlogo;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/loading.css">
    <link rel="stylesheet" type="text/css" href="~/Content/draw.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

@Html.Hidden("strURL", (string)ViewBag.strURL)
@Html.Hidden("strLinkToken", (string)ViewBag.strToken)
@Html.Hidden("_CampaignName", "")
@Html.Hidden("_PrizeUnit", "")
<body>

    @*<audio id="audioTimer1" src="~/Content/soundEffect/timer1.wav"> </audio>
        <audio id="audioTimer2" src="~/Content/soundEffect/timer2.wav"> </audio>
            <audio id="audioGamewin" src="~/Content/soundEffect/gamewin.wav"> </audio>*@
    <audio id="audioApplause" src="~/Content/soundEffect/applause.mp3"> </audio>
    @Html.Partial("~/Views/Shared/_Loading.cshtml")
    <div id="divBg" style="background-image:url('@URLbg');"></div>
    <div id="divMask"></div>
    <div id="divLogo" style="background-image:url('@URLlogo');"></div>
    <div id="divMain" class="">

        <div id="divTitle" class="d-flex justify-content-center align-content-end flex-wrap"><p>Lucky Draw</p></div>
        <div id="divCountdown" class="d-flex justify-content-center align-content-end flex-wrap">
            <div id="divD" class="flex-item p-2">
                <p id="dayval" class="cdval mb-0">-</p>
                <p class="cdtxt mb-0">DAYS</p>
            </div>

            <div id="divH" class="flex-item p-2">
                <p id="hourval" class="cdval mb-0">-</p>
                <p class="cdtxt mb-0">HOURS</p>

            </div>

            <div id="divM" class="flex-item p-2">
                <p id="minsval" class="cdval mb-0">-</p>
                <p class="cdtxt mb-0">MINS</p>
            </div>

            <div id="divS" class="flex-item p-2">
                <p id="secsval" class="cdval mb-0">-</p>
                <p id="txtsec" class="cdtxt mb-0">SECS</p>
            </div>

        </div>
        <div id="divInfo" class="d-flex justify-content-center align-content-center flex-wrap flex-col">

        </div>
        <div id="divFooter" class="marquee">
            <span id="txtfooter"></span>
        </div>
    </div>
    <div id="divMainPredraw" style="display:none !important">
        <div id="divPredraw" class="d-flex justify-content-center align-content-end flex-wrap">
            <div id="divdraw" class="d-flex justify-content-center align-content-center flex-wrap">
                <div id="divPreTitle" class="d-flex justify-content-lg-center align-content-center flex-wrap">
                    <span>Campaign Title</span>
                </div>
                <div id="divdrawSetting" class="d-flex align-content-center flex-wrap">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="btnPrize" style="width:10rem;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prize</button>
                        <div class="dropdown-menu" id="divdropdownItem" aria-labelledby="dropdownMenuButton">

                        </div>
                    </div>
                    <div><button id="lblUnit" style="width:10rem; opacity:1;" class="btn btn-secondary" disabled>x Unit</button></div>
                    <div><button id="btnDraw" style="width:10rem;" class="btn btn-secondary">Pick Winner</button></div>
                </div>
                <div id="divNameList">
                    <span></span>
                </div>
                <div id="recordcountWrapper" class="d-flex justify-content-lg-end align-content-end flex-wrap">

                    <div>
                        <span id="resCount" style="font-size:large"></span>
                    </div>
                </div>
                <div id="divUpload" class="d-flex justify-content-lg-end align-content-end flex-wrap">

                    <div>
                        <input style="display:none;" type="file" id="myFile" name="filename" accept=".xlsx, .xls" onchange="checkfile(this);">
                    </div>
                    <div>
                        <span id="txtMsg" style="color:red"></span>
                        <button id="btnUpload" class="btn btn-secondary">Upload</button>
                    </div>

                </div>
            </div>
            <div id="divResult" class="d-flex justify-content-center align-content-center flex-wrap">
                <div id="divResultTitle">Winner List</div>
                <div id="divResultInfo">

                </div>
            </div>
        </div>
    </div>

    <div id="divPop" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="height:500px">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title username">Congratulation!</h6>
                    <label type="button" class="close" id="btnPop" style="font-size: 30px;color: white;">
                        <span aria-hidden="true">&times;</span>
                    </label>
                </div>
                <div class="modal-body">
                    <div class="div-wrapper full-wrap">
                        <div class="col-10" id="divPopContent">
                            <div id="divPopContentdata">


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modalToken" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="background-color: grey;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title username">@CampaignTitle</h6>
                </div>
                <div class="modal-body">
                    <div class="div-wrapper full-wrap">
                        <div class="col-10">
                            <label style="color:red;" id="txtSubmit">@errorText</label>
                        </div>
                    </div>
                    @if (shouldShow)
                    {
                        @formHelper.AddPaswordTextBox(null, "txtToken", "Token :", true, true)
                        <div class="div-wrapper full-wrap">
                            <div class="col-2">
                                <button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/confetti.js"></script>
    <script>
        $('#modalToken').modal('show');
        var WinnerInfo;
        $('#btnSubmit').on('click', function () {
            //  document.documentElement.requestFullscreen();
            $('#txtSubmit').text('');

            var ajxNew = new _func.ajxNew();
            ajxNew.url = '@Url.Action("GetCampaign", "MasterDraw")';
            ajxNew.data = { 'strToken': $('#txtToken').val(), 'strURL': $('#strURL').val(), 'strLinkToken': $('#strLinkToken').val() };

            _func.ajxCall(ajxNew, function (returndata) {

                if (returndata.result != 'success' || !returndata.returnVal.CampaignInfo.DrawDate) {
                    $('#txtSubmit').text('Invalid Token!')
                } else {
                    displayCampaign(returndata.returnVal.CampaignInfo);

                    if (returndata.returnVal.ParticipantInfo) {
                        displayParticipantInfo(returndata.returnVal.ParticipantInfo);
                    }

                    if (returndata.returnVal.WinnerInfo.length > 0) {

                        displayWinnerInfo(returndata.returnVal.WinnerInfo);
                    }

                    $('#modalToken').modal('hide');
                }


            });
        })

        var _interval;
        function displayCampaign(res) {
            //var dtDraw2 = new Date(res.MSDrawDate);
            var dtDraw = new Date(res.DrawDate);
            startInterval(dtDraw);

            $('#divTitle p, #divPreTitle span').html(res.CampaignTitle);
            $('input[name="_CampaignName"]').val(res.CampaignName);
         //   $('#divLogo').css('background-image', 'url(' + res.ImageIcon + ')');
           // $('#divBg').css('background-image', 'url(' + res.Imagebg + ')');
            $('#txtfooter').html(res.CustomMessage);
            prepareDetail(res.prizes);

        }

        function displayWinnerInfo(res) {
            var setHTML = '';
            if (res.length > 0) {
                $('#btnUpload').prop('disabled', true)
            }
            $.each(res, function (a, b) {
                setHTML += '<div class="divPInfo"><div class="divPName"><span>' + b.Username + '</span></div><div class="divEntry"><span>' + b.Prize + ' </span></div></div>';
            })
            $('#divResultInfo').html(setHTML);
        }

        function displayParticipantInfo(res) {
            var setHTML = '';
            var totalEntry = 0;
            $.each(res, function (a, b) {
                setHTML += '<div class="divPInfo"><div class="divPName"><span>' + b.Username + '</span></div><div class="divEntry"><span>' + b.EntryCount + ' Entry</span></div></div>';
                totalEntry += 1;
            })

            if (totalEntry < $('input[name="_PrizeUnit"]').val()) {
                setMsg('Total participant count is lesser than prize unit. ', 'red');
            }

            $('#resCount').html('Count :' + totalEntry);

            $('#divNameList').html(setHTML);
        }

        function startInterval(dtEnd) {
            // Update the count down every 1 second
            var _interval = setInterval(function () {

                // Find the distance between now and the count down date
                var distance = dtEnd.getTime() - new Date().getTime();

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                if (days <= 0) {
                    $('#divD').hide();
                }
                if (hours <= 0) {
                    $('#divH').hide();
                }
                if (minutes <= 0) {
                    $('#divM').hide();
                    $('#txtsec').hide();
                }

                // Display the result in the element with id="demo"
                //document.getElementById("demo").innerHTML = days + "Days " + hours + "Hours "
                //    + minutes + "Minutes " + seconds + "Seconds ";
                $('#dayval').text(days);
                $('#hourval').text(hours);
                $('#minsval').text(minutes);
                $('#secsval').text(seconds);
                $('#secsval').addClass('fontkeyframe');

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(_interval);
                    $('#dayval').text('-');
                    $('#hourval').text('-');
                    $('#minsval').text('-');
                    $('#secsval').text('-');
                    $('#secsval').removeClass('fontkeyframe');
                    displayChanges(true);
                }

            }, 1000);
        }

        function prepareDetail(itemD) {
            var setHTML = '';
            var setDropdown = '';
            var unitVal = 0;
            $.each(itemD, function (a, b) {
                unitVal += b.unit;
                setHTML += '<div class="divInfoItem"><div class="divItemName"><span>' + b.Prize + '</span></div><div><span>x' + b.unit+'</span></div></div>';
                setDropdown += '<a class="dropdown-item" href="#" data-id="' + b.ID + '" data-isdrawed="' + b.isDrawed + '"data-unit="' + b.unit + '" data-prize="' + b.Prize  +'">' + b.Prize + '</a>';
            })
            $('input[name="_PrizeUnit"]').val(unitVal);
            $('#divInfo').html(setHTML);
            $('#divdropdownItem').html(setDropdown);
            var setbtn = 'Prize';
            var setUnit = 'Unit';

            if (itemD.length > 0) {
                setbtn = itemD[0].Prize;
                setUnit = itemD[0].unit + ' unit';
                $('#btnDraw').prop('disabled', (itemD[0].isDrawed == 1));
            }
            $('#btnPrize').html(setbtn)
            $('#lblUnit').html(setUnit);

        }

        function checkfile(sender) {
            var validExts = new Array(".xlsx", ".xls");
            var fileExt = sender.value;
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            debugger
            if (validExts.indexOf(fileExt) < 0) {
                alert("Invalid file, Excel file only.");
                sender.value = null;
                $('#divNameList').html('');
                return false;
            }
            else {
                $('#divNameList').html('');
                UploadNameList();
                return true;
            }

        }


        function UploadNameList()
        {
            $("#loadingscreen").show();
            var fileUpload = $("#myFile").get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            $.each(files, function (key, value) {
                formData.append(key, value);
            });
            formData.append('CampaignName', $('input[name="_CampaignName"]').val())
            $.ajax({
                url: '@Url.Action("UploadNameList", "MasterDraw")',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#loadingscreen").hide();
                    if (data.ErrorMessage != '') {
                        $('#resCount').html('Count : 0');
                        alert(data.ErrorMessage);
                    } else {
                        displayParticipantInfo(data.CampUserList);
                    }

                    $('#myFile').val(null)
                },

            });
        }

        $('#btnUpload').on('click', function () {

            setMsg('', 'red');
            $("#myFile").click();
        })

        function setMsg(txtMsg, txtColor) {
            $('#txtMsg').text(txtMsg);
            $('#txtMsg').css('color', txtColor);
        };


        $('#divdropdownItem').on('click', '.dropdown-item', function () {
            $('#btnPrize').html($(this).html());
            $('#btnPrize').data('id', $(this).data('id'))
            $('#lblUnit').html($(this).data('unit') + ' unit');
            $('#btnDraw').prop('disabled', ($(this).data('isdrawed') == 1));

        })


        function displayChanges(isPredraw) {
            if (isPredraw == true) {
                $('#divMainPredraw').show();
                $('#divMain').hide();
            } else {
                $('#divMain').show();
                $('#divMainPredraw').hide();
            }

        }

        function showPop(sel) {
            $(sel).removeClass('hidden');
            $(sel).addClass('popWinner');
        }

        function popWinner() {

            $.each($('#divPopContentdata span'), function (i, x) {
                var timeout = i * 500;
                setTimeout(function () {
                    showPop($(x))
                    if (i >= $('#divPopContentdata span').length-1)
                    {
                        //$('#audioTimer1')[0].pause();
                        $('#audioApplause')[0].play();
                        startConfetti();
                        $('#confetti-canvas').css('position', 'absolute')
                    }
                }, 500 + timeout);
            })
        }


        $('#btnPop').on('click', function () {
         /*   $('#audioTimer1')[0].pause();*/
            $('#audioApplause')[0].pause();
            stopConfetti();
            $('#divPop').modal('hide');
            displayWinnerInfo(WinnerInfo);
        })


        $('#btnDraw').on('click', function () {
            $('#btnDraw').prop('disabled', true);
            $('#divPop').modal('show');
           // $('#audioTimer1')[0].currentTime = 0;
            $('#audioApplause')[0].currentTime = 0;
            $('#audioApplause').prop("volume", 0.1);
            //$('#audioTimer1')[0].addEventListener('ended', function () {
            //    this.currentTime = 1;
            //    this.play();
            //}, false);
            //$('#audioTimer1')[0].play();
            pickWinner();

        })

        function pickWinner() {
            var ajxNew = new _func.ajxNew();
            ajxNew.url = '@Url.Action("LoadWinner", "MasterDraw")';
            ajxNew.data = { 'CampaignName': $('input[name="_CampaignName"]').val(), 'Prize': $('#btnPrize').html() };

            _func.ajxCall(ajxNew, function (returndata) {

                if (returndata.result == 'success') {
                    $('#divResultInfo').html('');
                    displayPop(returndata.returnVal.PrizeWinner);
                    WinnerInfo = returndata.returnVal.AllWinner;
                    //displayWinnerInfo(returndata.returnVal.AllWinner);
                    if (returndata.returnVal.PrizeWinner.length > 0) {
                        $('#divdropdownItem [data-prize="' + returndata.returnVal.PrizeWinner[0].Prize +'"]').data('isdrawed', 1)
                    }

                }

            });

        }

        function displayPop(res) {
            var setHTML = '';

            $.each(res, function (a, b) {
                setHTML += '<span class="hidden">'+ b.Username +'</span>';
            })

            if (res.length <= 0) {
                setHTML += '<span class="hidden">No Winner</span>';
            }
            $('#divPopContentdata').html(setHTML);
            popWinner();
        }
    </script>
</body>

