﻿@model LuckyDraw.Models.CampaignViewModel
@{
    bool isUpdate = (Model.UserID is null ? false : true);
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container">
    <div class="col-xs-12 section-header">Back Office</div>

    <div class="form-group col-sm-12 mt-1 ">
        @formHelper.AddTextBox(null, "CampaignName", "Campaign Name", !isUpdate, true)
        @formHelper.AddTextBox(null, "CampaignTitle", "Campaign Title", true, false)
        <div class="div-wrapper full-wrap">
            <label for="Prize">Prize</label>
            <div class="input-wrapper">
                <button type="submit" id="btnAddPrize" class="btn btn-primary">Add Prize</button>
            </div>
        </div>
        <div class="div-wrapper full-wrap">
            <label for="prize1"></label>
            <div class="input-wrapper">
                <table id="tblPrize" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Prize Name
                            </th>
                            <th>
                                Prize Units
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.prizes != null)
                        {
                            foreach (LuckyDraw.Models.CampaignPrizeViewModel item in Model.prizes)
                            {
                                <tr>
                                    <td class="editcell"><span style="padding: 10px; " contenteditable="true" data-name="prize">@item.Prize</span></td>
                                    <td class="editcell"><span style="padding: 10px; " contenteditable="true" class="txt_num" data-name="unit">@item.unit</span></td>
                                    <td><span class="prize-delete">Delete</span></td>
                                </tr>
                            }
                        }


                    </tbody>

                </table>
            </div>
        </div>

        @formHelper.AddDateRangeTimeTextBox(null, "CampaignDate", "Campaign Date", true, true)
        @formHelper.AddDateTimeTextBox(null, "DrawDate", "Draw Date", true, true)
        @formHelper.AddFileInput(Model.BackgroundFileNo, Model.FileName, "Background", "Background Visual")
        @formHelper.AddFileInput(Model.LogoFileNo, Model.LogoFileName, "Logo", "Logo Visual")
        @formHelper.AddTextBox(null, "CustomMessage", "Running Message", true, false)
        @formHelper.AddToggleBox(Model.Status, "Status", "Status", true)

    </div>

    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button type="submit" id="btnUpdateDetails" class="btn btn-primary">@(isUpdate ? "Update": "Add")</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


