﻿@model LuckyDraw.Models.JsGridModel
@{


}
<body>
   
        <div class="container">

            <div class="card">


                <div class="card-header mb-1 bluebg">
                    <h3 class="card-title bolder">Campaign Setting</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            @*<i class="fas fa-minus"></i>*@
                        </button>

                    </div>
                </div>

                <div class="card-body col-sm-12 p-2" id="parentElement">
                    <div class="form-group col-12">
                        <div class="text-left">
                            <div class="hr10 visible-xs"></div>
                            <button type="button" id="btnAddCampaign" class="btn btn-primary">Add New Campaign</button>
                            <div class="hr10 visible-xs"></div>
                        </div>
                    </div>
                    <div id="gdvCampaign"></div>

                </div>

                <div class="card-body col-sm-12 p-2" id="chilElement" style="display:none">
                   
                    <div id="gdvCampaignDetails"></div>

                    <div class="form-group col-sm-12">
                        <div class="text-center">
                            <div class="hr10 visible-xs"></div>
                            <button type="button" id="btnBack" class="btn btn-primary">Back</button>
                            <div class="hr10 visible-xs"></div>
                        </div>
                    </div>

                    @*@Html.Partial("~/Views/Shared/HtmlTable.cshtml", Model)*@
                </div>

            </div>
        </div>
    
   

</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">
  var SerializeModel = JSON.parse('@Html.Raw(Json.Encode(Model))');
    var ViewCampaignDetailsURL = '@Url.Action("ViewCampaignDetails", "BackOffice", new { Area = "" })'
    var UpdateCampaignDetailsURL = '@Url.Action("UpdateCampaignDetails", "BackOffice", new { Area = "" })'
    var ReloadCampaignListURL = '@Url.Action("ReloadCampaignList", "BackOffice", new { Area = "" })'
    var CheckCampaignLimitURL = '@Url.Action("CheckCampaignLimit", "BackOffice", new { Area = "" })'
    var CustomPostCallback = function (data) {
        //to handle if populate grid or normal form
        InitNumericContent('#tblPrize .txt_num');
       /* InitDateRangePicker('.txt_daterange');*/
        InitDateRangeTimePicker('.txt_daterangetime');
       /* InitDatePicker('.txt_date');*/
        InitDateTimePicker('.txt_datetime');

    }

    var LinkTemplate = function (value, item) {
        var elem = $('<div>')
        var hyperLink = $("<a>").attr({ "href": value, "target":"_blank" }).text(item.CampaignTitle + " URL");
        elem.append(hyperLink)

        return elem;
    }

    var buttonTemplate = function (value) {
        var elem = $('<div>').click(function (e) {
            showMessage('Token Copied!', true);
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(this).closest('td').text()).select();
            document.execCommand("copy");
            $temp.remove();



        })
        var buttonelem = $("<button>").attr({ title:'Click here to copy Token', class: "fa fa-clone", 'aria-hidden': "true", style:'background: transparent;border: none;' })
        elem.append(value);
        elem.append(buttonelem)
        return elem;

    }

    var statusTemplate = function (value) {
        var backgroundcolor = '#d84d4d'
        var color = 'white';
        if (value == 'Inactive') {
            //value = 'Inactive'
            backgroundcolor = '#9795a7'
        } else if (value == 'Active Not Running') {
            backgroundcolor = '#056584'
        } else if (value == 'On-going') {
            //value = 'Active'
            color = 'black';
            backgroundcolor = '#ffb302'
        } else if (value == 'Draw Completed') {
            backgroundcolor = '#337b2b'
        } else if (value == 'Pending Draw') {
            backgroundcolor = '#acb751'
            color = 'black';
        }
        var elem = $('<div>').attr({ style: 'background-color:' + backgroundcolor + ';border-radius: 5px;text-align: center;color: ' + color + ';font-weight: bold;' }).text(value);
        //var Statuselem = $("<a>").attr("href", value).text(value);
        elem.append(elem)

        return elem;
    }
    var customItemTemplate = {
        URL: LinkTemplate,
        Token: buttonTemplate,
        Status: statusTemplate
    }
    $('#gdvCampaign').IniJsGrid(SerializeModel, customItemTemplate);


    $('#btnBack').click(function (s, e){
        $('#parentElement').show();
        $('#chilElement').hide();


    })

    $('#btnAddCampaign').click(function (s, e) {

        var _data = { 'vm': {} }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = CheckCampaignLimitURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (data ==true) {
                ViewCampaignDetails(true);

            } else {
                showMessage('Unable to Add. You have reach the maximum limit of the campaign.', false);
            };
        });

       
    })

    function ReloadCampaignList() {
        var _data = { 'vm': {} }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ReloadCampaignListURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#gdvCampaign').IniJsGrid(data, customItemTemplate);

            };
        });
    }

    function ViewCampaignDetails(isadd) {

        var _data = {'vm': {}}
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ViewCampaignDetailsURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#gdvCampaignDetails').html(data);
                    $('#parentElement').hide();
                    $('#chilElement').show();
            /*    InitDateRangePicker('.txt_daterange');*/
                InitDateRangeTimePicker('.txt_daterangetime');
                /*InitDatePicker('.txt_date');*/
                InitDateTimePicker('.txt_datetime');

            };
        });
    }

    $('#chilElement').on('click', '#btnAddPrize', function (s, e) {
        var tr = $('<tr>');
        var td = $('<td class="editcell">');
        td.html('<span style="padding: 10px; " contenteditable="true" data-name="prize"></span>')
        tr.append(td);

        td = $('<td class="editcell">');
        td.html('<span style="padding: 10px; " class="txt_num" contenteditable="true" data-name="unit"></span>')
        tr.append(td);

        td = $('<td>');
        td.html('<span class="prize-delete">Delete</span>');
        tr.append(td);

        $('#tblPrize tbody').append(tr);
        InitNumericContent('#tblPrize .txt_num');
    })


    $('#chilElement').on('click', '.prize-delete', function (s, e) {
        $(this).closest('tr').remove();
    })

    $('#chilElement').on('click', '#btnUpdateDetails', function (s, e) {
        var elem = $(this)
        var _data = collectData()
        var ajxNew = new _func.ajxNew();

        ajxNew.url = UpdateCampaignDetailsURL;
        ajxNew.data = _data;
        ajxNew.processData = false;
        ajxNew.contentType = false;

        if (Validate('.container')) {
            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (returndata) {
                    if (data == false) {
                        showMessage('Prize Name duplicated!', false);
                    } else {
                        if (elem.text() == 'Add') {
                            showMessage('Add Successfully!', true);
                            elem.text("Update");
                        } else {
                            showMessage('Update Successfully!', true);
                        }

                        $('#gdvCampaign').IniJsGrid(data, customItemTemplate);
                    }
                   


                };
            });
        }




    })

    function collectData() {
        var fd = new FormData();

        fd.append('CampaignName', $('#chilElement').find('#CampaignName').val())
        fd.append('CampaignTitle',$('#chilElement').find('#CampaignTitle').val())
        fd.append('CampaignDate', $('#chilElement').find('#CampaignDate').val())
        fd.append('DrawDate', $('#chilElement').find('#DrawDate').val())
        fd.append('UploadFile', $('#chilElement').find('#Background')[0].files[0])
        fd.append('LogoUploadFile', $('#chilElement').find('#Logo')[0].files[0])
        fd.append('CustomMessage', $('#chilElement').find('#CustomMessage').val())
        fd.append('Status', ($('#chilElement').find('#Status').is(":checked") ? 1 : 0))
        $.each($('#tblPrize tbody tr'), function (i, v) {
            fd.append('prizes[' + i + '].Prize', $(v).find('[data-name="prize"]').text())
            fd.append('prizes[' + i + '].unit', $(v).find('[data-name="unit"]').text())

        });



        return fd;
    }

    $('#chilElement').on('change', '.custom-file-input,[type="File"]', function (s, e) {
        if (CheckFileExtension($(this))) {
            readPath($(this));
        } else {
            $('#chilElement').find('.custom-file-input,[type="File"]').val("")
            return false
        }

    })

    function readPath(input) {
        if (input.prop('files') && input.prop('files')[0]) {
            filename = input.prop('files')[0].name;
            var reader = new FileReader();
            reader.onload = function (e) {
                var _sel = (input.attr('name') == 'Logo') ? $('#LogoLabel'): $('#BackgroundLabel');
             
                _sel.text(filename);
                _sel.attr('href', e.target.result);
            }
            reader.readAsDataURL(input.prop('files')[0]);
        }
    }

    function CheckFileExtension(elem) {
        var fileName = $(elem).val();
        if (fileName != "") {
            var fileNameSplit = fileName.split(".");
            var fileExtension = fileNameSplit[fileNameSplit.length - 1].toUpperCase();
            if (fileExtension == "JPEG" || fileExtension == "JPG" || fileExtension == "PNG") {
                return true;
            }
            else {
                showMessage('Please choose image file only!', false);

                return false;
            }
        } else {
            showMessage('Please choose image file only!', false);

            return false;
        }
    };


    var InitNumericContent = function (selector) {
        $(selector).on("blur.NumericPlugin", function () {
            $(this).text(GetNumber($(this).text()));
        })
    };





</script>
