﻿::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(54, 56, 58);
    }

#divbg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

#divMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
    background: -webkit-linear-gradient(bottom, grey, black,black);
    opacity: 50%;
}

#divMain {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: Oswald, sans-serif;
    color: white;
    z-index: 3;
}

#divLogo {
    /*background-color: white;*/
    position: absolute;
    width: 10rem;
    height: 8%;
    right: 2rem;
    top: 2rem;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#divTitle {
    /*   background-color: green;*/
    width: 100%;
    height: 20%;
    top: 10%;
    font-size: 3vw;
    z-index: 2;
}

#divCountdown {
    width: 100%;
    height: 30%;
    /*    background-color: red;*/
}

#divInfo {
    /* background-color: blue;*/
    height: 40%;
    flex-direction: column;
    font-size: 2vw;
}

.divInfoItem {
    background-color: #00000061;
    flex-direction: row;
    display: flex;
    width: 30%;
}

.divItemName {
    flex-grow: 1;
}

#divFooter {
    background-color: #00000061;
    height: 10%;
    bottom: 0;
    font-size: 2vw;
}


.cdval {
    font-size: 5vw;
    font-weight: 500;
}

.cdtxt {
    font-size: 1vw;
    font-weight: 100;
}

.flex-item {
    font-family: Oswald, sans-serif;
    flex: 1;
    min-width: 7rem;
    margin: 1rem;
    color: white;
    /*   background-color: gray;*/
    text-align: center;
    flex-grow: 0;
}

@keyframes fontaction {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }

    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
}

.fontkeyframe {
    animation: fontaction 1s infinite;
}


.marquee {
    font-size: 2vw;
    overflow: hidden;
    position: relative;
}

    .marquee span {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 2s linear infinite;
        -webkit-animation: scroll-left 2s linear infinite;
        animation: scroll-left 20s linear infinite;
    }

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}



#divPredraw {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: Oswald, sans-serif;
    color: white;
    z-index: 3;
}

#divdraw {
    /* background-color: yellow;*/
    flex-direction: column;
    width: 50%;
}

#divPreTitle {
    /* background-color: blue;*/
    width: 90%;
    height: 10%;
    font-size: 2vw;
    font-weight: 100;
}

#divdrawSetting {
    /*   background-color: red;*/
    height: 10%;
    justify-content: space-around;
}

#divNameList {
    background-color: #00000061;
    overflow-y: auto;
    height: 50%;
    max-height: 25rem;
}

.divPInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.divPName {
    display: flex;
    margin-left: 10%;
}

.divEntry {
    display: flex;
    margin-right: 20%;
}

#divUpload {
    /*background-color: black;*/
    height: 10%;
    align-content: end;
    justify-content: right;
}

#divResult {
    /* background-color: navajowhite;*/
    width: 50%;
    height: 100%;
    flex-direction: column;
}

#divResultTitle {
    font-size: 2vw;
    width: 100%;
    height: 15%;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

#divResultInfo {
    background-color: #00000061;
    width: 100%;
    height: 70%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    /*  align-items: center;*/
}

#divPopContent {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 27rem;
    margin-bottom: 2rem;
}

#divPopContentdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
}

.popWinner {
    /*animation: move-up 2s linear infinite alternate;*/
    animation: move-up 1s linear;
}

.hidden {
    display: none !important;
}

@keyframes move-up {
    0% {
        display: none;
        transform: translateY(500px);
    }

    100% {
        transform: translateY(0px);
    }
}