﻿.loginBox {
    width: 320px;
    display: table;
    margin: 10px auto;
}

.loginHeader {
    display: table-row;
}

.loginHeaderWrapper {
    display: table-cell;
    vertical-align: bottom;
    font-size: 20px;
    color: #000;
}

.loginBody {
    display: table-row;
}

.loginBodyWrapper {
    display: table-cell;
    background-color: #fff;
}

.loginInputWrapper {
    margin: 0 auto;
    height: 45px;
    margin-top: 5px;
}

    .loginInputWrapper a {
        text-decoration: underline;
        color: #999;
        font-size: 13px;
    }

    .loginInputWrapper .btn {
        background: linear-gradient(to right, #189cfe, #7774f5);
        width: 130px;
        height: 36px;
        text-transform: uppercase;
        border: none;
        font-size: 13px;
        margin-left: 0px;
        margin-right: 20px;
    }

        .loginInputWrapper .btn:hover {
            color: #fff;
        }

    .loginInputWrapper:nth-last-child(1) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;
    }

.loginLogo {
    width: 45px;
    height: 45px;
    padding-top: 12px;
    padding-left: 12px;
    display: none;
    border-radius: 5px;
    float: left;
}

.loginLogoIcon {
    width: 20px;
    height: 20px;
}

.loginUserLogo {
    background-color: #3cbdd3
}

.loginPasswordLogo {
    background-color: #87909c
}

.loginUserLogoIcon {
    background-image: url(../img/BOSS_iNET_Icon_20px.png);
    background-position: 0px 0px;
}

.loginUserLogoIcon {
    background-image: var(--Img_INet_Icon_20px);
    background-position: 0px 0px;
}

.loginPasswordLogoIcon {
    background-image: url(../img/BOSS_iNET_Icon_20px.png);
    background-position: -20px 0px;
}
/*.loginInput{width:297px;height:45px;border:1px solid #ccc;border-left:none;font-size:14px;color:#868f9b;border-top-right-radius:5px;border-bottom-right-radius:5px;margin-left:45px;}*/
/*.loginInput input{border:none;width:100%;height:100%;border-radius:5px;padding:0 10px;}*/
.loginInput {
    border-bottom: 1px solid #808080;
    width: 100%;
    padding-bottom: 5px;
}

    .loginInput input {
        border: none !important;
        border-radius: 5px;
        background-color: #fff;
        width: 100%;
        outline: none;
        height: 30px;
        font-size: 13px;
        padding: 0 10px;
    }

.loginFooter {
    height: 48px;
    display: table-row;
}

.loginFooterWrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #3cbdd3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .loginFooterWrapper a {
        color: #fff;
    }

.divLoginWrapper {
    width: 100%;
    height: 100%;
    display: flex; /*background: linear-gradient(to right, #189cfe, #7774f5);*/
}

.divLoginBackgroundContainer {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    background-image: url(../img/BOSS_Login_1_BG2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
}

.divLoginBackgroundWrapper {
    font-size: 47px;
    color: #fff;
    padding-left: 50px;
}

    .divLoginBackgroundWrapper:before {
        content: '';
        display: block;
        width: 201px;
        height: 23px;
        background-image: url(../img/BOSSiNET_Logo.png);
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .divLoginBackgroundWrapper:after {
        content: 'Intelligent Change in HR';
        display: block;
        font-size: 15px;
    }

.frmLogin { /*display:table-cell;vertical-align:middle;*/
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

/*.loginBg{background-color:#eee}
.loginWrapper{height:100%}
.loginContent{display:table-cell; vertical-align:middle;}
.loginForm{border-radius: 15px;background-color: rgba(255,255,255,0.8);padding-top: 15px;}*/

.divLoginWrapper {
    display: table;
    background: none;
}

.divLoginBackgroundContainer {
    display: none;
}

.frmLogin {
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    flex: 0;
}

.loginBodyWrapper {
    height: 222px;
}

.loginInputWrapper {
    width: 342px;
    display: block;
}

.loginLogo {
    display: inline-block;
}

.loginInput {
    width: 297px;
    height: 45px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 14px;
    color: #868f9b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 45px;
    padding-bottom: 0px;
}

    .loginInput input {
        height: 100%;
        padding: 0 10px;
    }

.loginInputWrapper:nth-last-child(1) {
    display: block;
}

.pageWrapper {
    background-image: url(Background.jpg);
    background-size: cover;
}

.loginBox {
    background-image: none;
    float: right;
    padding-right: 10%;
    width: 520px;
    height: 429px;
}

.loginHeaderWrapper {
    color: black;
    font: 30px 'Arial Black';
    padding-bottom: 0px
}

.loginBodyWrapper {
    background-color: transparent
}

    .loginBodyWrapper .hr30 {
        margin-top: 0px
    }

.loginInputWrapper .btn {
    float: right;
    background: none;
    text-transform: inherit;
    margin: 0 5px;
    background-color: #3cbdd3;
    border: 2px solid #3cbdd3;
    color: #fff;
    font-size: 14px;
    height: auto;
    width: auto;
}

    .loginInputWrapper .btn:hover {
        color: #3cbdd3;
        background-color: #fff;
    }

.loginInputWrapper a {
    color: black;
    float: left;
}

@media (max-width: 767px) {
    .loginHeader {
        background-color: transparent;
    }

    .loginInputWrapper {
        width: 90%;
    }

    .loginInput {
        width: auto;
    }

    .loginHeaderWrapper {
        padding: 20px;
        height: 80px
    }

    .loginInputWrapper a {
        text-shadow: 2px 1px white;
    }

    .loginBox {
        width: 90%;
        max-width: 520px;
        height: auto;
    }
}

@media (max-width: 370px) {
    .loginInputWrapper a {
        float: none;
    }

    .loginInputWrapper .btn {
        float: none;
        margin-top: 20px;
    }
}
