﻿html, body {
    height: 100%;
    margin: 0;
}

body {
    min-width: 320px;
    /*font-family: LatoWeb, Verdana, Geneva, sans-serif;*/
    font-family:"Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: small;
    color: #000;
}

body input {
   
    font-size: small !important;
   
}

.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #9ddb33;
}

.dropdown-itemactive {
    color: #000;
    text-decoration: none;
    background-color: #9ddb33;
}

/*.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item:first-child {
    width: 100%;
}*/
.dropdown-menu {
    background-color: #bcfd4c8c;
}
.dropdown-menu a{
        color:black;
}

    .dropdown-menu i {
        font-size: 32px;
    }

.dropdown-divider {
  
    border-top: 1px solid rgb(0 0 0);
}

.btn-primary {
    color: black;
    border-color: #BCFD4C;
    background: -webkit-linear-gradient(left,#bcfd4c,#98d928,#669d08);
}

    .btn-primary:hover {
        color: black;
        border-color: #BCFD4C;
        background: -webkit-linear-gradient(left,#95c93d,#74a71d,#558505);
    }


.dropdown-item:focus, .dropdown-item:hover {
    color: black;
    background-color: rgba(255,255,255,.4);
}


    .dropdown-menu.show[aria-labelledby="themes"] {
        display: -ms-flexbox;
        display: flex;
        width: 420px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item {
    width: 33.333%;
}
.dropdown-divider{
    width:100%;
}
/*overriding date time picker*/
.bootstrap-datetimepicker-widget {
    font-size: small;
}

    .bootstrap-datetimepicker-widget table th,
    .bootstrap-datetimepicker-widget table td,
    .bootstrap-datetimepicker-widget thead th,
    .bootstrap-datetimepicker-widget tbody + tbody {
        border: 0;
    }

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /* max-width: 280px;*/
}

/*.testrowcolor > .jsgrid-cell {
    background-color: red !important;
}*/

/*Overwrite Grid*/

.jsgrid-edit-row > .jsgrid-cell {
    color: grey;
}

.jsgrid-pager {
    background-color: #6E6E6E;
}
.jsgrid-header-row > .jsgrid-header-cell {
    background: #6E6E6E;
    border: none;
}

.jsgrid-filter-row > .jsgrid-cell {
    border: none;
}

.jsgrid-row > .jsgrid-cell{
    border:none;
    color:black;
}

.jsgrid-alt-row > .jsgrid-cell {
    border: none;
    color: black;
}

.jsgrid-header-sort-asc:before {
    border-color: transparent transparent #ffffff;
}

.jsgrid-header-sort-desc:before {
    border-color: #ffffff transparent transparent
}

.jsgrid-delete-button ::before {
    content: "\f1f8";
}

.jsgrid-header-row > .jsgrid-header-cell, .jsgrid-alt-row > .jsgrid-cell, .jsgrid-row > .jsgrid-cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    .jsgrid-header-row > .jsgrid-header-cell:hover, .jsgrid-alt-row > .jsgrid-cell:hover, .jsgrid-row > .jsgrid-cell:hover {
        text-overflow: clip;
        white-space: normal;
    }
    

    .jsgrid-delete-button {
        background-image: url(delete-icon-png-19.png) !important;
        background-size: 16px 16px !important;
        background-position: unset !important;
    }

.jsgrid-search-button {
    background-image: url(Searchicon-black.png) !important;
    background-size: 16px 16px !important;
    background-position: unset !important;
}

.jsgrid-grid-header,
.jsgrid-grid-body {
    overflow: auto !important;
}

/*Overwrite Grid*/

.custom-select {
    position: relative;
    font-family: Arial;
}

    .custom-select select {
        display: none; /*hide original SELECT element:*/
    }

.select-selected {
    background-color: DodgerBlue;
}

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #8abf2f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.form-control:disabled, .form-control[readonly] {
    background-color:rgb(42 42 45 / 10%);
}



.MainWrapper {
    height: 100%;
    max-height: 100%;
    display: table;
    width: 100%;
}

.header {
    height: 45px;
    display: table-row;
}

.content {
    margin-bottom: 25px;
    display: table-row;
    height: 100%;
}

.footer {
  
    height: 15px;
    display: table-row;
    color: white;
    font-size: 10px;
}

.contentWrapper {
    height: 100%;
    overflow: auto;
 
}

.pageWrapper {
    height: 100%;
    overflow: auto;
    position: relative;
}

.formWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 15px;
    overflow-y: auto;
}


.footerWrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.section-header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #AAA;
    padding: 10px 0;
    margin-bottom: 10px;
    clear: both;
    color:black;
}

.subsection-header {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding: 10px 0 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.div-wrapper {
    padding: 6px 15px;
    width: calc(50% - 10px);
    float: left;
    display: flex;
    margin: 0px 5px 5px 5px;
}

.input-wrapper {
    display: inline-block;
    float: left; /* height: 30px; */
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    position: relative;
    padding: 0px 15px 0px 10px;
    flex: 6;
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Upload';
        color: white;
        display: inline-block;
        background: #593196;
        border: 1px solid #999;
        /* border-radius: 3px; */
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        /* text-shadow: 1px 1px #fff; */
        font-weight: 700;
        font-size: 10pt;
    }

    .custom-file-input:hover::before {
        border-color: black;
    }

    .custom-file-input:active {
        outline: 0;
    }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

/*.input-wrapper a:after {*/
   /* background-color:red;*/
    /*content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:200px;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}*/

.div-wrapper label {
    white-space: pre-wrap;
    display: inline-block;
    float: left;
    font-weight: bold;
    flex: 2;
    margin-top: 5px;
    color:black;
}

.full-wrap {
    width: calc(100% - 10px);
}


.nav-item.active {
    box-shadow: 0px 1px 4px 2px white;
}

.nav-item.active a {
    color:white !important;
}

.username {
    color: white !important;
    font-weight: bolder;
}

@media(max-width:768px){
    .div-wrapper{
        flex-direction:column;

    }
    .input-wrapper {
        padding: 15px 0px 0px 0px;
    }
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}


.tableDeleteIcon {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(delete-icon-png-19.jpg) !important;
    background-size: contain;
    background-position: unset !important;
}



