﻿@{
    string UserRole = MGatewayHelpers.GlobalProperties.UserRole;

}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Payment Gateway BO</title>
    <link rel="stylesheet" type="text/css" href="~/Content/loading.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/plugins")*@
    <script src="~/Scripts/jsgrid_extension.js?v=@MGatewayHelpers.GlobalProperties.Version.ToString()"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@


    @*<script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>*@

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
</head>
<body>
    @Html.Partial("~/Views/Shared/_Loading.cshtml")
    <div class="MainWrapper">
        <header class="header navbar navbar-expand-lg navbar-dark  bg-primary">
            <div class="container-fluid">
                @*<a href="../" style=" background-color: transparent; content: url(../Content/Logo/logo.png); height: 45px;cursor:pointer;"></a>*@
                <a href="../" class="navbar-brand">GenKin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        @if (MGatewayHelpers.GlobalProperties.UserID == "7c06b2db2f9e4dccad6d165444d555f0")
                        {
                            <!--<li class="nav-item @(ViewBag.Page == "useracc" ? "active" : "")">-->
                            @*<a class="nav-link" href="@Html.ActionLink("Home","Index")">Lucky Draw Settings</a>*@
                            <!--@Html.ActionLink("User Account", "Index", "UserAccount", new { area = "" }, new { @class = "nav-link " })

                            </li>-->
                        }



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes" aria-expanded="false">Menu <span class="caret"></span></a>
                            <div class="dropdown-menu" aria-labelledby="themes" style="text-align: center; font-size: 12px; ">

                                <a class="dropdown-item @(ViewBag.ObjectID == 1 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","Shop")">

                                    <div class="row">
                                        <div class="col"> <i class="fa fa-desktop"></i></div>

                                        <div class="w-100"></div>

                                        <div class="col">
                                            Shops

                                        </div>
                                    </div>

                                </a>


                                @if (UserRole != "Merchant")
                                {
                                    <a class="dropdown-item @(ViewBag.ObjectID == 2 ? "dropdown-itemactive" : "")" href="@Url.Action("WalletListMain","Shop")">

                                        <div class="row">
                                            <div class="col"><i class="fa fa-credit-card"></i></div>

                                            <div class="w-100"></div>

                                            <div class="col"> Wallets</div>
                                        </div>


                                    </a>
                                }

                                @if (UserRole == "Admin")
                                {
                                    <a class="dropdown-item @(ViewBag.ObjectID == 7 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","MerchantSetup")">

                                        <div class="row">
                                            <div class="col"><i class="fa fa-address-book-o"></i></div>

                                            <div class="w-100"></div>

                                            <div class="col"> Merchant Setup</div>
                                        </div>


                                    </a>
                                }

                                @if (UserRole != "Merchant")
                                {
                                    <a class="dropdown-item @(ViewBag.ObjectID == 6 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","UserAccount")">

                                        <div class="row">
                                            <div class="col"><i class="fa fa-user-o"></i></div>

                                            <div class="w-100"></div>

                                            <div class="col"> User Account</div>
                                        </div>


                                    </a>
                                }


                                @if (UserRole != "Merchant")
                                {
                                    <a class="dropdown-item @(ViewBag.ObjectID == 8 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","GlobalSettings")">

                                        <div class="row">
                                            <div class="col"><i class="fa fa-gear"></i></div>

                                            <div class="w-100"></div>

                                            <div class="col"> Global Settings</div>
                                        </div>


                                    </a>
                                }


                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="font-weight: bold;font-size:16px; width: 100%; text-align: left; " href="">Pay Request</a>

                                <a class="dropdown-item @(ViewBag.ObjectID == 9 ? "dropdown-itemactive" : "")" href="@Url.Action("EditForm","CashTransaction", new { _TrxType = "CashIn"})">

                                    <div class="row">
                                        <div class="col">   <i class="fa fa-file-text-o"></i></div>

                                        <div class="w-100"></div>

                                        <div class="col"> Manual Transaction</div>
                                    </div>
                                </a>

                                <a class="dropdown-item @(ViewBag.ObjectID == 3 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","CashTransaction", new { _TrxType = "CashIn"})">

                                    <div class="row">
                                        <div class="col">   <i class="fa fa-money"></i></div>

                                        <div class="w-100"></div>

                                        <div class="col"> Cash In</div>
                                    </div>
                                </a>
                                <a class="dropdown-item @(ViewBag.ObjectID == 4 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","CashTransaction", new { _TrxType = "CashOut"})">

                                    <div class="row">
                                        <div class="col">   <i class="fa fa-money"></i></div>

                                        <div class="w-100"></div>

                                        <div class="col"> Cash Out</div>
                                    </div>
                                </a>

                                <a class="dropdown-item @(ViewBag.ObjectID == 10 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","MerchantBalance", new { _TrxType = "CashOut"})">

                                    <div class="row">
                                        <div class="col">   <i class="fa fa-folder-o"></i></div>

                                        <div class="w-100"></div>

                                        <div class="col"> Merchant Balance</div>
                                    </div>
                                </a>

                                @if (UserRole != "Merchant")
                                {
                                    <a class="dropdown-item @(ViewBag.ObjectID == 5 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","SMSRecord")">
                                        <div class="row">
                                            <div class="col">   <i class="fa fa-mobile-phone"></i></div>

                                            <div class="w-100"></div>

                                            <div class="col"> SMS</div>
                                        </div>
                                    </a>

                                    <a class="dropdown-item @(ViewBag.ObjectID == 11 ? "dropdown-itemactive" : "")" href="@Url.Action("Index","CashTransactionLog")">
                                        <div class="row">
                                            <div class="col">   <i class="fa fa-file-text-o"></i></div>

                                            <div class="w-100"></div>

                                            <div class="col"> Cash In Out Log</div>
                                        </div>
                                    </a>


                                }



                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item" style="font-weight: bold; width: 100%; font-size: 16px; text-align: left;" href="">Reports</a>

        <a class="dropdown-item" href="@Url.Action("Index","PaymentGatewaySetup")">

            <div class="row">
                <div class="col">   <i class="fa fa-file-text-o"></i></div>

                <div class="w-100"></div>

                <div class="col" style="overflow: hidden; text-overflow: ellipsis;">Payment</div>
            </div>

        </a>
        <a class="dropdown-item" href="@Url.Action("Index","CashTransaction")">
            <div class="row">
                <div class="col">   <i class="fa fa-file-text-o"></i></div>

                <div class="w-100"></div>

                <div class="col" style="overflow: hidden; text-overflow: ellipsis;">Cash In</div>
            </div>
        </a>


        <a class="dropdown-item" href="@Url.Action("Index","CashTransaction")">
            <div class="row">
                <div class="col">   <i class="fa fa-file-text-o"></i></div>

                <div class="w-100"></div>

                <div class="col" style="overflow: hidden; text-overflow: ellipsis;">Cash Out</div>
            </div>
        </a>*@

                                @*<a class="dropdown-item" href="@Url.Action("Index","MerchantSetup")">Merchant Setup</a>


        <a class="dropdown-item" href="@Url.Action("Index","UserAccount")">User Account</a>*@
                            </div>
                        </li>


                        <!--<li class="nav-item @(ViewBag.Page == "sample2" ? "active" : "")">-->
                        @*<a class="nav-link" href="@Html.ActionLink("Home","Index")">Lucky Draw Settings</a>*@
                        <!--@Html.ActionLink("Preview Campaign", "Sample2", "Home", new { area = "" }, new { @class = "nav-link " })

                        </li>-->

                    </ul>
                    <ul class="navbar-nav ms-md-auto" style="margin-left: auto !important;">
                        <li class="nav-item">
                            @*<a target="_blank" rel="noopener" class="nav-link" href="https://github.com/thomaspark/bootswatch/"><i class="fa fa-github"></i> GitHub</a>*@
                            <div class="nav-link username">Welcome @MGatewayHelpers.GlobalProperties.UserName</div>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link " })
                            @*<a target="_blank" rel="noopener" class="nav-link" href="https://twitter.com/bootswatch"><i class="fa fa-twitter"></i> Logout</a>*@
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <content class="content">
            <div class="contentWrapper">
                <div class="pageWrapper">
                    <div class="formWrapper">
                        @RenderBody()
                    </div>

                </div>

            </div>

        </content>
        <footer class="footer bg-primary">
            <div class="footerWrapper">Genkin Pay @MGatewayHelpers.GlobalProperties.Version.ToString() &copy; @DateTime.Now.Year Genkin Pay All rights reserved.</div>

        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>

<script type="text/javascript">
      var Logout = "@Url.Action("Logout", "Login")";
    $('#btnLogout').click(function (e) {
        e.preventDefault();
        if (confirm('Are you sure you want to logout?')) {
            window.location = Logout;
        } else {

        }
    });

</script>
