﻿@*TODO: use js to set image height, calculate width and set height*@
<div id="loadingscreen">
    <div class="loading_bg">
    </div>
    <div class="loadingDiv-parent">
        <div class="loadingDiv">
            <h3 class="panel-title noselect"></h3>
        </div>
    </div>
    <div class="loading-gif noselect"></div>
</div>