﻿@model MGatewayBO.Model.ShopViewModel
@{
    bool isUpdate = (Model.ShopID != null ? true : false);
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container-fluid">
    @Html.Hidden("ShopID", Model.ShopID)
    

    <div class="form-group col-sm-12 mt-1 ">

        @formHelper.AddTextBox(null, "ShopName", "Shop Name", true, true)
        @formHelper.AddPaswordTextBox(null, "Password", "Password", true, !isUpdate)
        @formHelper.AddTextBox(null, "Contact", "Contact No", true, true)
        @formHelper.AddTextBox(null, "WhatappsLink", "Whatapps Link", true, true)
        @formHelper.AddToggleBox(Model.ShopStatus, "ShopStatus", "Shop Status", true)


    </div>

    @*<div class="col-xs-12 section-header">Wallets</div>*@

    @*<div id="GatewayMerchanfrm" @(isUpdate ? Html.Raw("") : Html.Raw("style=\"display:none\""))>
            <div class="col-xs-12 section-header">Select Payment Gateway</div>
            <div class="form-group col-sm-12 mt-1 ">
                @formHelper.AddComboBox(null, "GatewayID", "Gateway ID", ViewBag.PaymentGatewayList, true, true)
                <div class="form-group col-12">
                    <div class="text-left">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnAddPaymentGateway" class="btn btn-primary">Add Payment Gateway</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>

                <table id="tblGatewayMerchant" class="table table-hover" style=" ">
                    <thead style="background-color: #6081e0; font-weight: bold;">

                        <tr>
                            <td>
                            </td>
                            <td>Service ID</td>
                            <td>
                                Payment Gateway ID
                            </td>
                            <td>
                                Payment Gateway
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </thead>
                    <tbody style="color:black">
                        @if (Model.GatewayMerchants != null)
                        {
                            foreach (MGatewayBO.Model.GatewayMerchantViewModel item in Model.GatewayMerchants)
                            {
                                <tr data-serviceid="@item.ServiceID">
                                    <td><input class="tableDeleteIcon" /></td>
                                    <td>@item.ServiceID</td>
                                    <td>@item.GatewayID</td>
                                    <td>@item.GatewayName</td>
                                </tr>
                            }

                        }

                    </tbody>

                </table>


            </div>
        </div>*@


    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button type="submit" id="btnUpdateDetails" class="btn btn-primary">@(isUpdate ? "Update": "Add")</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


