﻿@model Global.Model.JsGridModel
@{


}
<body>

    <div class="container-fluid">
        <div class="col-xs-12 section-header">Wallets</div>
        <div class="card">

            <!--<div class="card-header mb-1 bluebg">
           <h3 class="card-title bolder">Shop Setup</h3>
           <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse">-->
            @*<i class="fas fa-minus"></i>*@
            <!--</button>

            </div>
        </div>-->

            <div class="card-body col-sm-12 p-2" id="parentElement">
                @if (ViewBag.ShopName != null)
                {
                    <div class="form-group col-12">
                        <div class="text-left">
                            <div class="hr10 visible-xs"></div>
                            <button type="button" id="btnBack" class="btn btn-primary">@ViewBag.ShopName</button>
                            <div class="hr10 visible-xs"></div>
                        </div>
                    </div>
                }

                <div id="gdvWallets"></div>

            </div>

            <div class="card-body col-sm-12 p-2" id="chilElement" style="display:none">

                <div id="ShopDetails"></div>

                <div class="form-group col-sm-12">
                    <div class="text-center">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnBack" class="btn btn-primary">Back</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">
  var SerializeModel = JSON.parse('@Html.Raw(Json.Encode(Model))');
    var ViewShopDetailsURL = '@Url.Action("ViewShopDetails", "Shop", new { Area = "" })'
    var UpdateShopURL = '@Url.Action("UpdateShop", "Shop", new { Area = "" })'
    var LoadShopIndex = '@Url.Action("Index", "Shop", new { Area = "" })'
    var AddGatewayMerchantURL = '@Url.Action("AddGatewayMerchant", "MerchantSetup", new { Area = "" })'
    var DeleteGatewayMerchantURL = '@Url.Action("DeleteGatewayMerchant", "MerchantSetup", new { Area = "" })'
    var statusTemplate = function (value) {
                    var backgroundcolor = '#d84d4d'
        if (value == '0') {
                        value = 'Inactive'
            backgroundcolor = '#9795a7'
        } else if (value == '1') {
                        value = 'Active'
            backgroundcolor = '#337b2b'
        }
                    var elem = $('<div>').attr({ style: 'background-color:' + backgroundcolor + ';border-radius: 5px;text-align: center;color: white;font-weight: bold;' }).text(value);
                    //var Statuselem = $("<a>").attr("href", value).text(value);
                    elem.append(elem)

        return elem;
    }

    var ActionTemplate = function (value, item) {

        var elem = '<button type="button" id="btnAction" class="btn btn-primary" style="padding: 5px;padding-left: 10px;padding-right: 10px;font-size: small;">View</button>'
        //var Statuselem = $("<a>").attr("href", value).text(value);
        // elem.append(elem)

        return elem;
    }


   var customItemTemplate = {

       AccountStatus: statusTemplate,
       Wallets: ActionTemplate
    }


            var CustomPostCallback = function (data) {
        //to handle if populate grid or normal form
        InitDateRangePicker('.txt_daterange');
            InitDatePicker('.txt_date');
                InitNumeric('.txt_num');


        }
    var masterKeyItem = {};
    masterKeyItem["ShopID"] = '@ViewBag.ShopID';
    $('#gdvWallets').IniJsGrid(SerializeModel, customItemTemplate, masterKeyItem);


    $('#btnBack').click(function (s, e){
        window.location = LoadShopIndex;


        })

    $('#btnAddShop').click(function (s, e) {

            ViewShopDetails(true);
        })



    function ViewShopDetails() {

            var _data = {'vm': {}}
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ViewShopDetailsURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#ShopDetails').html(data);
                    $('#parentElement').hide();
                    $('#chilElement').show();
        InitDateRangePicker('.txt_daterange');

    };
        });
    }



    $('#chilElement').on('click', '#btnUpdateDetails', function (s, e) {
        var elem = $(this)
        var _data = collectData()
        var ajxNew = new _func.ajxNew();

        ajxNew.url = UpdateShopURL;
        ajxNew.data = _data;
        ajxNew.processData = false;
        ajxNew.contentType = false;

        if (Validate('.container')) {
            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (returndata) {
                    if (elem.text() == 'Add') {
                        showMessage('Add Successfully!', true);
                        elem.text("Update");
                        $('#GatewayMerchanfrm').show();
                    } else {
                        showMessage('Update Successfully!', true);
                    }

                    //$('#gdvUsers').IniJsGrid(data, customItemTemplate);


                };
            });
        }




    });

    $('#chilElement').on('click', '#btnAddPaymentGateway', function (s, e) {

        if ($('#GatewayID').val() != '') {
            var _data = { 'MerchantID': $('#merchantID').val(), 'GatewayID': $('#GatewayID').val() }
            var ajxNew = new _func.ajxNew();


            ajxNew.url = AddGatewayMerchantURL;
            ajxNew.data = _data;

            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (data != '') {
                    var tr = $('<tr data-serviceid="' + data + '">');
                    var td = $('<td>');
                    td.html('<input class="tableDeleteIcon" />')
                    tr.append(td);

                    td = $('<td>');
                    td.html(data)
                    tr.append(td);

                    td = $('<td>');
                    td.html($('#GatewayID').val());
                    tr.append(td);

                    td = $('<td>');
                    td.html($('#GatewayID :Selected').text());
                    tr.append(td);

                    $('#tblGatewayMerchant tbody').append(tr);
                    tr.append(td);

                } else {
                    showMessage('Duplicate Record!', false);
                };
            })
            } else {
            showMessage('Please Select Payment Gateway', false);
         }

    });

    $('#chilElement').on('click', '.tableDeleteIcon', function (s, e) {
        var tr = $(this).closest('tr');
        var serviceId = tr.data('serviceid');
        var _data = { 'ServiceID': serviceId }
        var ajxNew = new _func.ajxNew();


        ajxNew.url = DeleteGatewayMerchantURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata != '') {

                showMessage('Record Deleted!', true);
                tr.remove();
            } else {

            };
        });
    });

    function collectData() {
        var fd = new FormData();
        fd.append('ShopID', $('#chilElement').find('#ShopID').val())
        fd.append('ShopName', $('#chilElement').find('#ShopName').val())
        fd.append('Password', $('#chilElement').find('#Password').val())
        fd.append('Contact', $('#chilElement').find('#Contact').val())
        fd.append('WhatappsLink', $('#chilElement').find('#WhatappsLink').val())

        fd.append('ShopStatus', ($('#chilElement').find('#ShopStatus').is(":checked") ? 1 : 0))
        return fd;
    }







</script>
