﻿@model Global.Model.JsGridModel
@{


}
<body>

    <div class="container-fluid">
        <div class="col-xs-12 section-header">Shop Setup</div>
        <div class="card" id="Shopfrm">


          

            <div class="card-body col-sm-12 p-2" id="parentElement">
                @if (MGatewayHelpers.GlobalProperties.UserRole != "Merchant")
                {
                    <div class="form-group col-12">
                        <div class="text-left">
                            <div class="hr10 visible-xs"></div>
                            <button type="button" id="btnAddShop" class="btn btn-primary">Create Shop</button>
                            <div class="hr10 visible-xs"></div>
                        </div>
                    </div>
                }

                <div id="gdvShop"></div>

            </div>

            <div class="card-body col-sm-12 p-2" id="chilElement" style="display:none">

                <div id="ShopDetails"></div>

                <div class="form-group col-sm-12">
                    <div class="text-center">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnBack" class="btn btn-primary">Back</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>


            </div>

        </div>

        <div id="walletfrm">

        </div>

    </div>



</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">

  var SerializeModel = JSON.parse('@Html.Raw(Json.Encode(Model))');
    var ViewShopDetailsURL = '@Url.Action("ViewShopDetails", "Shop", new { Area = "" })'
    var UpdateShopURL = '@Url.Action("UpdateShop", "Shop", new { Area = "" })'
    var AddShopURL = '@Url.Action("AddShop", "Shop", new { Area = "" })'
    var LoadShopIndex = '@Url.Action("Index", "Shop", new { Area = "" })'
    var WalletListURL = '@Url.Action("WalletList", "Shop", new { Area = "" })'
    var statusTemplate = function (value) {
                    var backgroundcolor = '#d84d4d'
        if (value == '0') {
                        value = 'Inactive'
            backgroundcolor = '#9795a7'
        } else if (value == '1') {
                        value = 'Active'
            backgroundcolor = '#337b2b'
        }
                    var elem = $('<div>').attr({ style: 'background-color:' + backgroundcolor + ';border-radius: 5px;text-align: center;color: white;font-weight: bold;' }).text(value);
                    //var Statuselem = $("<a>").attr("href", value).text(value);
                    elem.append(elem)

        return elem;
    }

    var ActionTemplate = function (value, item) {

        var elem = '<button data-shopid="' + item.ShopID + '" data-shopname="' + item.ShopName + '" type="button" data-id="btnWalletList" class="btn btn-primary" style="padding: 5px;padding-left: 10px;padding-right: 10px;font-size: small;">View (' + item.WalletsCount + ')</button>'
        //var Statuselem = $("<a>").attr("href", value).text(value);
        // elem.append(elem)

        return elem;
    }

    var ShopStatusTemplate = function (value, item) {
        var colorCss;
        if (item.ActiveStatus == '0') {
            colorCss = 'grey';
        } else if (item.ActiveStatus == '2'){
            colorCss = 'blue';
        } else {
            colorCss = 'green';
        }
        var elem = '<div style="background-color: ' + colorCss + ';width: 25px;height: 25px;border-radius: 25px;float:left;margin-right: 10px;" data-toggle="tooltip" title="' +  item.LastActiveTime + '" >  </div><div style="float:left">' + item.ShopName + '</div>';
        //var Statuselem = $("<a>").attr("href", value).text(value);
        // elem.append(elem)

        return elem;
    }

    var StatusTemplate = function (value, item) {
        var Text;
        if (item.ShopStatus == '1') {
            Text = 'Active';
        }  else {
            Text = 'Inactive';
        }
       // var elem = '<div style="background-color: ' + colorCss + ';width: 25px;height: 25px;border-radius: 25px;float:left;margin-right: 10px;" data-toggle="tooltip" title="' + item.LastActiveTime + '" >  </div><div style="float:left">' + item.ShopName + '</div>';
        //var Statuselem = $("<a>").attr("href", value).text(value);
        // elem.append(elem)

        return Text;
    }



   var customItemTemplate = {

       AccountStatus: statusTemplate,
       Wallets: ActionTemplate,
       ShopName: ShopStatusTemplate,
       ShopStatus: StatusTemplate
    }


            var CustomPostCallback = function (data) {
        //to handle if populate grid or normal form
        InitDateRangePicker('.txt_daterange');
            InitDatePicker('.txt_date');
            InitNumeric('.txt_num');

        }

    $('#gdvShop').IniJsGrid(SerializeModel, customItemTemplate);


    $('#btnBack').click(function (s, e){
        window.location = LoadShopIndex;


        })

    $('#btnAddShop').click(function (s, e) {

            ViewShopDetails(true);
        })



    function ViewShopDetails() {

            var _data = {'vm': {}}
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ViewShopDetailsURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#ShopDetails').html(data);
                    $('#parentElement').hide();
                    $('#chilElement').show();
        InitDateRangePicker('.txt_daterange');

    };
        });
    }

    $('[data-id="btnWalletList"]').click(function () {
        var shopID = $(this).data('shopid');
        var shopName = $(this).data('shopname');
        var _data = { 'ShopID': shopID, 'ShopName': shopName }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = WalletListURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {

                $('#walletfrm').html(data);
                $('#Shopfrm').hide();
                $('#walletfrm').show();


            };
        });

    })

    $('#walletfrm').on('click', '#btnBack', function (s, e) {
        window.location = LoadShopIndex;
    })
    $('#chilElement').on('click', '#btnUpdateDetails', function (s, e) {
        var elem = $(this)
        var _data = collectData()
        var ajxNew = new _func.ajxNew();
        var AjaxURL = UpdateShopURL;
        if (elem.text() == 'Add') {
            AjaxURL = AddShopURL
        }
        ajxNew.url = AjaxURL;
        ajxNew.data = _data;
        ajxNew.processData = false;
        ajxNew.contentType = false;

        if (Validate('#Shopfrm')) {
            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (returndata) {
                    if (data == '') {
                        if (elem.text() == 'Add') {
                            showMessage('Add Successfully!', true);
                            elem.text("Update");
                            //$('#GatewayMerchanfrm').show();
                        } else {
                            showMessage('Update Successfully!', true);
                        }
                    } else {
                        showMessage(data, false);
                    }
                 

                    //$('#gdvUsers').IniJsGrid(data, customItemTemplate);


                };
            });
        }




    });

    $('#chilElement').on('click', '#btnAddPaymentGateway', function (s, e) {

        if ($('#GatewayID').val() != '') {
            var _data = { 'MerchantID': $('#merchantID').val(), 'GatewayID': $('#GatewayID').val() }
            var ajxNew = new _func.ajxNew();


            ajxNew.url = AddGatewayMerchantURL;
            ajxNew.data = _data;

            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (data != '') {
                    var tr = $('<tr data-serviceid="' + data + '">');
                    var td = $('<td>');
                    td.html('<input class="tableDeleteIcon" />')
                    tr.append(td);

                    td = $('<td>');
                    td.html(data)
                    tr.append(td);

                    td = $('<td>');
                    td.html($('#GatewayID').val());
                    tr.append(td);

                    td = $('<td>');
                    td.html($('#GatewayID :Selected').text());
                    tr.append(td);

                    $('#tblGatewayMerchant tbody').append(tr);
                    tr.append(td);

                } else {
                    showMessage('Duplicate Record!', false);
                };
            })
            } else {
            showMessage('Please Select Payment Gateway', false);
         }

    });

    $('#chilElement').on('click', '.tableDeleteIcon', function (s, e) {
        var tr = $(this).closest('tr');
        var serviceId = tr.data('serviceid');
        var _data = { 'ServiceID': serviceId }
        var ajxNew = new _func.ajxNew();


        ajxNew.url = DeleteGatewayMerchantURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata != '') {

                showMessage('Record Deleted!', true);
                tr.remove();
            } else {

            };
        });
    });

    function collectData() {
        var fd = new FormData();
        fd.append('ShopID', $('#chilElement').find('#ShopID').val())
        fd.append('ShopName', $('#chilElement').find('#ShopName').val())
        fd.append('Password', $('#chilElement').find('#Password').val())
        fd.append('Contact', $('#chilElement').find('#Contact').val())
        fd.append('WhatappsLink', $('#chilElement').find('#WhatappsLink').val())

        fd.append('ShopStatus', ($('#chilElement').find('#ShopStatus').is(":checked") ? 1 : 0))
        return fd;
    }

    $(function () {
        $('[data-toggle="tooltip"]').data('template', 'div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>');
        $('[data-toggle="tooltip"]').tooltip({
            template: '<div class="" style="width:500px" role="tooltip"><div class="arrow"></div><div class="tooltip-inner" style="width:500px"></div></div>',
            placement: 'right'
        });
    });







</script>
