﻿
@{
    ViewBag.Title = "Login";
  
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/loading.css">
    <!--===============================================================================================-->
    <style>
        .btn-color {
            background-color: #BCFD4C;
            color: black;
        }

        .profile-image-pic {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }



        .cardbody-color {
            background-color: #6E6E6E;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body style="background: #0c0c0c1f;">
    @*@using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnURL }, FormMethod.Post))
        {*@
    @Html.Partial("~/Views/Shared/_Loading.cshtml")
    <div class="container">
        <div class="row" style="flex-direction: column; height: 100%; display: flex; justify-content: center; align-items: center; margin-top: 0px;">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">GenKin</h2>
                <div class="text-center mb-5 text-dark">Powered by Anonymous</div>
                <div class="card my-5" style="border: none; background: transparent;">

                    <form class="card-body cardbody-color p-lg-5" style="border-radius: 20px;">

                        <div class="text-center">
                            <img src="~/FileLibrary/GenKinPay_1.png" style="border-radius: 30%;" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="200px" alt="profile">
                        </div>
                        <div id="txtmsg" style="color:red;"><span></span></div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Username" name="username" aria-describedby="emailHelp"
                                   placeholder="User Name">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="pass" placeholder="password">
                        </div>
                        <div class="text-center"><button type="submit" id="btnLogin" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
                        @*<div id="emailHelp" class="form-text text-center mb-5 text-dark">
            Not
            Registered? <a href="#" class="text-dark fw-bold">
                Create an
                Account
            </a>
        </div>*@
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
  
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>

<script>
      var LoginURL = "@Url.Action("Index", "Login")";

    $('#btnLogin').on('click', function (e) {
        $('#txtmsg').text('');
        var input = $('.limiter .validate-input .input100');
        e.preventDefault();

        var check = true;

        for (var i = 0; i < input.length; i++) {
            if (validate(input[i]) == false) {
                showValidate(input[i]);
                check = false;
            }
        }

        if (check) {

            var _data = { 'username': $("input[name='username']").val(), 'password': $("input[name='pass']").val() }
            var token = $('input[name="__RequestVerificationToken"]').val();
            _data.__RequestVerificationToken = token;

            $.ajax({
                type: 'POST',
                url: LoginURL,
                data: _data,
                beforeSend: function () {
                    $("#loadingscreen").show();
                },
                success: function (result) {
                   if (result.msg != '') {
                        $('#txtmsg').text(result.msg);
                    } else {
                        window.location = result.URL;
                    }

                    $('#loadingscreen').hide();
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Connection Failed');
                    $('#loadingscreen').hide();
                }
            });
        } else {

            $('#loadingscreen').hide();
        }


    });


    function validate(input) {

        if ($(input).val().trim() == '') {
            return false;
        }

    }

    function showValidate(input) {
        var thisAlert = $(input).parent();

        $(thisAlert).addClass('alert-validate');
    }

    function hideValidate(input) {
        var thisAlert = $(input).parent();

        $(thisAlert).removeClass('alert-validate');
    }


</script>