﻿@model MGatewayBO.Model.MerchantDataViewModel
@{
    bool isUpdate = (Model.merchantID != null ? true : false);
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container-fluid">
    
    <div class="form-group col-sm-12 mt-1 ">

        @formHelper.AddTextBox(null, "merchantID", "Merchant ID", !isUpdate, !isUpdate)
        @formHelper.AddTextBox(null, "merchantName", "Merchant Name", true, true)
        @formHelper.AddTextBox(null, "APIKEY", "API Key", false,false)

        @formHelper.AddToggleBox(Model.merchantStatus, "merchantStatus", "Merchant Status", true)


    </div>
   
    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button type="submit" id="btnUpdateDetails" class="btn btn-primary">@(isUpdate ? "Update": "Add")</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


