﻿@model Global.Model.JsGridModel
@{

    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}
<head>
    <style>
        .external-pager {
            margin: 10px 0;
        }

            .external-pager .jsgrid-pager-current-page {
                background: #c4e2ff;
                color: #fff;
            }

            .external-pager .jsgrid-pager {
                padding-left: 10px;
            }
    </style>
</head>
<body>

    <div class="container" style="max-width:100% !important">

        <div class="card">


            <div class="card-header mb-1 bluebg">
                <h3 class="card-title bolder">Transaction Info</h3>
                @*<div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>*@
            </div>
            @formHelper.AddDateRangeTextBox(ViewBag.DateRange, "DateRange", "Select Period", true, false)
        <div class="card-body col-sm-12 p-2" id="parentElement">

            @*<div class="form-group col-12">
            <div class="text-left">
                <div class="hr10 visible-xs"></div>
                <button type="button" id="btnAddMerchant" class="btn btn-primary">Create Merchant</button>
                <div class="hr10 visible-xs"></div>
            </div>
        </div>*@
            <div id="gdvTransaction"></div>
            <div id="externalPager" class="external-pager"></div>
            <div id="gdvTransactionFooter" class="external-pager jsgrid-pager-container" style="">
                <div class="jsgrid-pager" style="background-color: #264cb9;">
                    <span style="font-weight: bold; margin-right: 10px; ">Total Amount :</span>
                    <span style=" margin-right: 20px;" id="footertotalAmount">  @ViewBag.TotalAmount </span>  
                    <span style="font-weight: bold; margin-right: 10px;">Filterd Total Amount :</span>
                    <span id="footerfilteredamount"> @ViewBag.TotalAmount </span>
                   
                </div>
            </div>
        </div>

            <div class="card-body col-sm-12 p-2" id="chilElement" style="display:none">

                <div id="TransactionDetails"></div>

                <div class="form-group col-sm-12">
                    <div class="text-center">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnBack" class="btn btn-primary">Back</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">
  var SerializeModel = JSON.parse('@Html.Raw(Json.Encode(Model))');
    var ReloadTransactionListURL = '@Url.Action("ReloadTransactionListDate", "TransactionInfo", new { Area = "" })'
  
    var statusTemplate = function (value) {
        var backgroundcolor = '#d84d4d'
        if (value == 'Success' || value =='Verified') {

            backgroundcolor = '#3a8e5c'
        } else if (value == 'Pending') {

            backgroundcolor = '#389688'
        } else if (value == 'New') {
            backgroundcolor = '#f5c02f'
        } else if (value == 'Failed') {
            backgroundcolor = '#b71c1c'
        } else if (value == 'Cancelled') {
            backgroundcolor = '#b71c1c'
        } else if (value == 'Manual') {
            backgroundcolor = '#ef6c00'
        } else if (value == 'Expired') {
            backgroundcolor = '#b71c1c'
        } else if (value == 'UpdateSuccess') {
            backgroundcolor = '#3a8e5c'
        } else if (value == 'UpdateFailed') {
            backgroundcolor = '#b71c1c'
        }
                    var elem = $('<div>').attr({ style: 'background-color:' + backgroundcolor + ';border-radius: 5px;text-align: center;color: white;font-weight: bold;' }).text(value);
                    //var Statuselem = $("<a>").attr("href", value).text(value);
                    elem.append(elem)

        return elem;
    }


    var ActionTemplate = function (value,item) {
      
        var elem = '<button type="button" id="btnAction" class="btn btn-primary" style="padding: 5px;padding-left: 10px;padding-right: 10px;font-size: small;">Approve</button>'
        //var Statuselem = $("<a>").attr("href", value).text(value);
       // elem.append(elem)
        if (item.TrxStatus != 'Verified') {
            elem = ''
        } ;
        return elem;
    }

    var buttonTemplate = function (value) {
        if (value == '') {
            return $('<div>');
        } else {
            var elem = $('<div>').click(function (e) {
                showMessage('Successfully Copied!', true);
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(this).closest('td').text()).select();
                document.execCommand("copy");
                $temp.remove();



            })
            var buttonelem = $("<button>").attr({ title: 'Click here to copy Token', class: "fa fa-clone", 'aria-hidden': "true", style: 'background: transparent;border: none;' })
            elem.append(value);
            elem.append(buttonelem)
            return elem;
        }
      

    }


     var customItemTemplate = {

         Action: ActionTemplate,
         TrxStatus: statusTemplate,
         TrxID: buttonTemplate,
         TrxID_G: buttonTemplate,
         TrxID_M: buttonTemplate,
    }


            var CustomPostCallback = function (data) {
        //to handle if populate grid or normal form
        InitDateRangePicker('.txt_daterange');
            InitDatePicker('.txt_date');
            InitNumeric('.txt_num');

    }

    var CustomFilterCallback = function (data) {
        $('#footerfilteredamount').html(data.FilterAmount);
    }

    $('#gdvTransaction').IniJsGrid(SerializeModel, customItemTemplate);

  

    $('#DateRange').on('apply.daterangepicker', function (ev, picker) {

        ReloadTransaction(picker.startDate.format('DD/MM/YYYY'), picker.endDate.format('DD/MM/YYYY'));
       

       // $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));

    });


    function ReloadTransaction(startDate,endDate) {

        var _data = { '_StartDate': startDate, '_EndDate': endDate  }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ReloadTransactionListURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#gdvTransaction').IniJsGrid(data.jsGrid, customItemTemplate);
                $('#footertotalAmount').html(data.TotalAmount);
                $('#footerfilteredamount').html(data.TotalAmount);
            };
        });
    }


</script>
