﻿@model   MGatewayBO.Model.CashInOutSQLModel
@{
    
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container">
    <div class="col-xs-12 section-header">@ViewBag.Title  </div>

    <div class="form-group col-sm-12 mt-1 ">
        @formHelper.AddComboBox(null, "TransactionType", "Transaction Type", ViewBag.TransactionTypeList, true, false)
        @formHelper.AddComboBox(null, "WalletType", "Gateway", ViewBag.WalletTypeList, true, false)
        @formHelper.AddNumericBox(null, "Amount", "Send Amount", true, false)
        @formHelper.AddTextBox(null, "WalletNumber", "Receiver Number", true, false)
        @formHelper.AddTextBox(null, "MemberPhoneNo", "Sender Number", true, false)
        @formHelper.AddTextBox(null, "TrxID", "TransactionID", true, false)

    </div>

    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button  id="btnUpdateDetails" class="btn btn-primary">Add</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var AddRecordURL = '@Url.Action("AddManualRecord", "CashTransaction", new { Area = "" })'
    initControl();
    function initControl() {
        if ($('#TransactionType').val() == '2') {
            $('#MemberPhoneNo').closest('.div-wrapper').show();
            $('#TrxID').closest('.div-wrapper').show();
        } else {
            //Cash In
            $('#MemberPhoneNo').closest('.div-wrapper').hide();
            $('#TrxID').closest('.div-wrapper').hide();
        }
    }
    $('#btnUpdateDetails').click(function (e) {
        var _data = {
            'TransactionType': $('#TransactionType').val(),
            'WalletType': $('#WalletType').val(),
            'MemberPhoneNo': $('#MemberPhoneNo').val(),
            'WalletNumber': $('#WalletNumber').val(),
            'Amount': $('#Amount').val(),
            'TrxID': $('#TrxID').val()
        }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = AddRecordURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {

                $('.container :input').not('.btn').val('')
                if (data.includes('Invalid') == true) {
                    showMessage(data, false, 0);
                } else {
                    showMessage(data, true, 0);
                }
                
            };
        });
    })


    $('#TransactionType').change(function (e) {
      
        initControl();
        
    })
</script>


