﻿@model Dictionary<string, MGatewayBO.Model.MerchantBalanceModel>
@{

    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
   
}

<body>

    <div class="container">

        <div class="col-xs-12 section-header">@ViewBag.Title  </div>
        @formHelper.AddDateRangeTextBox(ViewBag.DateRange, "DateRange", "Select Period", true, false)
        @formHelper.AddMultiSelectDropDown("", "ShopName", "Shop Name", ViewBag.ShopList, true, true)

        <div class="col-xs-12 subsection-header">Balance  </div>
        <div class="card-body col-sm-12 p-2" id="parentElement" style="background-color: #d7d7d7; border-radius: 5px;float:left">
            @foreach (KeyValuePair<string, MGatewayBO.Model.MerchantBalanceModel> item in Model)
            {
                string CashInID = item.Key + "TotalCashIn";
                <div class="col-xs-12 subsection-header" style="color: black; font-size: larger;">@item.Key  </div>
                <div class="div-wrapper full-wrap">
                    <label for="TotalCashIn">Total CashIn</label>
                    <div class="input-wrapper">
                        <span style="font-size:20px">৳ </span><span data-id="cashin" id="@CashInID" style="font-weight:bold">@item.Value.TotalCashIn</span>
                    </div>
                </div>

                string CashOutID = item.Key + "TotalCashOut";
                <div class="div-wrapper full-wrap">
                    <label for="TotalCashIn">Total CashOut</label>
                    <div class="input-wrapper">
                        <span style="font-size:20px">৳ </span><span data-id="cashout" id="@CashOutID" style="font-weight:bold">@item.Value.TotalCashOut</span>
                    </div>
                </div>

                string AvailableBalanceID = item.Key + "AvailableBalance";
                <div class="div-wrapper full-wrap">
                    <label for="TotalCashIn">Available Balance</label>
                    <div class="input-wrapper">
                        <span style="font-size:20px">৳ </span><span data-id="availablebalance"  id="@AvailableBalanceID" style="font-weight:bold">@item.Value.AvailableBalance</span>
                    </div>
                </div>
            }


        </div>

    </div>


  

</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">
   
    var ReloadTransactionListURL = '@Url.Action("ReloadTransactionListDate", "MerchantBalance", new { Area = "" })'
  
    $('#DateRange').on('apply.daterangepicker', function (ev, picker) {

        ReloadTransaction(picker.startDate.format('DD/MM/YYYY'), picker.endDate.format('DD/MM/YYYY'), $('#ShopName').val());

    });


    $('#ShopName').on('change', function (e) {
        ReloadTransaction($('#DateRange').data('daterangepicker').startDate.format('DD/MM/YYYY'), $('#DateRange').data('daterangepicker').endDate.format('DD/MM/YYYY'), $('#ShopName').val());
    })
  


    function ReloadTransaction(startDate,endDate, shopList) {

        var _data = {  '_StartDate': startDate, '_EndDate': endDate, 'ShopList': shopList  }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ReloadTransactionListURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;

            if (returndata) {
                $('[data-id="cashin" ]').text('0');
                $('[data-id="cashout" ]').text('0');
                $('[data-id="availablebalance" ]').text('0');

                $.each(data, function (i, v) {
                    $('#' + i + 'TotalCashIn').text(v.TotalCashIn);
                    $('#' + i + 'TotalCashOut').text(v.TotalCashOut);
                    $('#' + i + 'AvailableBalance').text(v.AvailableBalance);
                })
              

            };
        });
    }


</script>
