﻿
@{
    bool isUpdate = false;
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container">
    <div class="col-xs-12 section-header">User Account</div>

    <div class="form-group col-sm-12 mt-1 ">
        <div hidden>
            @formHelper.AddTextBox(null, "UserID", "User ID", !isUpdate, false)
        </div>
        @formHelper.AddTextBox(null, "UserName", "User Name", true, true)
        @formHelper.AddPaswordTextBox(null, "UserPassword", "Password", true, !isUpdate)
        @formHelper.AddTextBox(null, "Email", "Email", true, true)
        @formHelper.AddDateRangeTextBox(null, "ValidPeriod", "Valid Period", true, true)
        @formHelper.AddNumericBox(null, "CampaignLimit", "Campaign Limit", true, true)
        @formHelper.AddToggleBox("", "AccountStatus", "Status", true)

    </div>

    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button type="submit" id="btnUpdateDetails" class="btn btn-primary">@(isUpdate ? "Update": "Add")</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


