﻿@model Global.Model.JsGridModel
@{

    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
    int RefreshInterval = ViewBag.RefreshInterval;
    System.Web.Script.Serialization.JavaScriptSerializer Serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    Serializer.MaxJsonLength = int.MaxValue;
}
<head>
    <style>
        .external-pager {
            margin: 10px 0;
        }

            .external-pager .jsgrid-pager-current-page {
                background: #c4e2ff;
                color: #fff;
            }

            .external-pager .jsgrid-pager {
                padding-left: 10px;
            }
    </style>
</head>
<body>

    <div class="container-fluid" >

        <div class="card">


            <div class="col-xs-12 section-header">@ViewBag.Title  <button type="button" id="btnRefresh" data-remainingsec="@RefreshInterval" class="btn btn-primary">Refresh (@RefreshInterval)</button></div>
            @formHelper.AddDateRangeTextBox(ViewBag.DateRange, "DateRange", "Select Period", true, false)
            @formHelper.AddMultiSelectDropDown("", "ShopName", "Shop Name", ViewBag.ShopList, true, true)
            <div class="card-body col-sm-12 p-2" id="parentElement">

                @*<div class="form-group col-12">
                    <div class="text-left">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnAddRecord" class="btn btn-primary">Add</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>*@
                <div id="gdvTransaction"></div>
                <div id="externalPager" class="external-pager"></div>
                <div id="gdvTransactionFooter" class="external-pager jsgrid-pager-container" style="">
                    <div class="jsgrid-pager" style=" background-color: #99d532;color:black ">
                        <span style="font-weight: bold; margin-right: 10px; ">Total Amount :</span>
                        <span style=" margin-right: 20px;" id="footertotalAmount">  @ViewBag.TotalAmount </span>
                        <span style="font-weight: bold; margin-right: 10px;">Filterd Total Amount :</span>
                        <span id="footerfilteredamount"> @ViewBag.TotalAmount </span>

                    </div>
                </div>
            </div>

            <div class="card-body col-sm-12 p-2" id="chilElement" style="display:none">

                <div id="TransactionDetails"></div>

                <div class="form-group col-sm-12">
                    <div class="text-center">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnBack" class="btn btn-primary">Back</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">
    @*var SerializeModel = JSON.parse('@Html.Raw(Json.Encode(Model))');*@
      var SerializeModel = JSON.parse('@Html.Raw(Serializer.Serialize(Model))');
    var RefreshInterval = '@RefreshInterval';
    var ReloadTransactionListURL = '@Url.Action("ReloadSMSListDate", "SMSRecord", new { Area = "" })'
    var AddRecordURL = '@Url.Action("AddRecord", "SMSRecord", new { Area = "" })'


    CountDownTimer()
    function CountDownTimer() {
        if (RefreshInterval != '0') {
            var x = setInterval(function () {
                var currentTime = +$('#btnRefresh').data('remainingsec');

                if ((currentTime - 1) == 0) {
                    location.reload();
                }

                $('#btnRefresh').text('Refresh (' + (currentTime - 1) + ')');
                $('#btnRefresh').data('remainingsec', currentTime - 1);
                //var currenttime = +$('#countdownTimer').text();

                //$('#countdownTimer').text(currenttime - 1);
            }, 1000);
        } else {
            $('#btnRefresh').text('Refresh');
        }

    }

    $('#btnRefresh').click(function (e) {
        location.reload();
    })

    var statusTemplate = function (value) {
        var backgroundcolor = '#d84d4d'
        if (value == 'Success' || value =='Verified') {

            backgroundcolor = '#3a8e5c'
        } else if (value == 'Pending') {

            backgroundcolor = '#389688'
        } else if (value == 'New') {
            backgroundcolor = '#f5c02f'
        } else if (value == 'Failed') {
            backgroundcolor = '#b71c1c'
        } else if (value == 'Cancelled') {
            backgroundcolor = '#b71c1c'
        } else if (value == 'Manual') {
            backgroundcolor = '#ef6c00'
        } else if (value == 'Expired') {
            backgroundcolor = '#b71c1c'
        } else if (value == 'UpdateSuccess') {
            backgroundcolor = '#3a8e5c'
        } else if (value == 'UpdateFailed') {
            backgroundcolor = '#b71c1c'
        }
                    var elem = $('<div>').attr({ style: 'background-color:' + backgroundcolor + ';border-radius: 5px;text-align: center;color: white;font-weight: bold;' }).text(value);
                    //var Statuselem = $("<a>").attr("href", value).text(value);
                    elem.append(elem)

        return elem;
    }

    var MatchedStatusTemplate = function (value, item) {
        var colorCss;
        var displayText;
        if (item.Matched == 'Not Match') {
            colorCss = 'red';
            displayText = 'Not Match';
        } else {
            displayText = 'Matched';
            colorCss = 'green';
        }
        var elem = '<div style="background-color: ' + colorCss + ';width: 25px;height: 25px;border-radius: 25px;float:left;margin-right: 10px;" " >  </div><div style="float:left">' + displayText + '</div>';
        //var Statuselem = $("<a>").attr("href", value).text(value);
        // elem.append(elem)

        return elem;
    }



    var ActionTemplate = function (value,item) {

        var elem = '<button type="button" id="btnAction" class="btn btn-primary" style="padding: 5px;padding-left: 10px;padding-right: 10px;font-size: small;">Approve</button>'
        //var Statuselem = $("<a>").attr("href", value).text(value);
       // elem.append(elem)
        if (item.TrxStatus != 'Verified') {
            elem = ''
        } ;
        return elem;
    }

    var buttonTemplate = function (value) {
        if (value == '') {
            return $('<div>');
        } else {
            var elem = $('<div>').click(function (e) {
                showMessage('Successfully Copied!', true);
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(this).closest('td').text()).select();
                document.execCommand("copy");
                $temp.remove();



            })
            var buttonelem = $("<button>").attr({ title: 'Click here to copy Token', class: "fa fa-clone", 'aria-hidden': "true", style: 'background: transparent;border: none;' })
            elem.append(value);
            elem.append(buttonelem)
            return elem;
        }


    }


     var customItemTemplate = {

         Action: ActionTemplate,
         TrxStatus: statusTemplate,
         Matched: MatchedStatusTemplate,
         TrxID: buttonTemplate,
         TrxID_G: buttonTemplate,
         TrxID_M: buttonTemplate,
    }


            var CustomPostCallback = function (data) {
        //to handle if populate grid or normal form
        InitDateRangePicker('.txt_daterange');
            InitDatePicker('.txt_date');
            InitNumeric('.txt_num');

    }

    var CustomFilterCallback = function (data) {
        $('#footerfilteredamount').html(data.FilterAmount);
    }

    $('#gdvTransaction').IniJsGrid(SerializeModel, customItemTemplate);



    $('#ShopName').on('change', function (e) {
        ReloadTransaction($('#DateRange').data('daterangepicker').startDate.format('DD/MM/YYYY'), $('#DateRange').data('daterangepicker').endDate.format('DD/MM/YYYY'), $('#ShopName').val());
    })


    $('#DateRange').on('apply.daterangepicker', function (ev, picker) {

        ReloadTransaction(picker.startDate.format('DD/MM/YYYY'), picker.endDate.format('DD/MM/YYYY'), $('#ShopName').val());


       // $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));

    });

    $('#btnAddRecord').click(function (e) {
        var _data = {  }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = AddRecordURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {

            };
        });
    })

    function ReloadTransaction(startDate, endDate, ShopList) {

        var _data = { '_StartDate': startDate, '_EndDate': endDate, 'ShopList': ShopList  }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ReloadTransactionListURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#gdvTransaction').IniJsGrid(data.jsGrid, customItemTemplate);
                $('#footertotalAmount').html(data.TotalAmount);
                $('#footerfilteredamount').html(data.TotalAmount);
            };
        });
    }


</script>
