﻿
<body>

    <div class="container">
        <div>
            <input type="text" id="txtTitle" placeholder="Title"/>
            <input type="text" id="txtContent" placeholder="Content"/>
            <input type="text" id="txtToken" placeholder="Token"/>
            <button type="button" id="btnSend">Send</button>
        </div>

    </div>
</body>

       
<script type="text/javascript">
       var pushNotificationURL = '@Url.Action("push", "pushNotification", new { Area = "" })'
    $('#btnSend').click(function (s, e) {

        var _data = { 'title': $('#txtTitle').val(), 'content': $('#txtContent').val(), 'token': $('#txtToken').val()}
        var ajxNew = new _func.ajxNew();

        ajxNew.url = pushNotificationURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (data == true) {
             

            } else {
                
            };
        });


    })
</script>