﻿.loading_bg {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999997;
    background-color: #00162b;
    /*opacity: 50%;*/
}

.loading-gif {
    background-color: transparent;
    /* background-image: url("../Content/loading.gif");*/
    content: url("../Content/loading.gif");
    position: fixed;
    text-align: center;
    top: 36%;
    left: 46%;
    z-index: 999999;
    width: 8%;
    height: 17%;
    min-width: 10px;
}

@media screen and (max-width:480px) {
    .loading-gif {
        left: 28%;
        width: 50%;
    }
}

.loadingDiv-parent {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999998;
}

.loadingDiv {
    position: fixed;
    text-align: center;
    top: 40%;
    /*left: 45%;*/
    z-index: 999999;
    width: 100%
}

    .loadingDiv .loading-image {
        display: block;
        margin: 25px 75px;
    }

#loadingscreen {
    display: none;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#_modalTitle {
    float: left;
}

#_modalMessage {
    background-color: #000000bf;
}

#_modalForm {
    top: 25%;
    left: 25%;
    width: 50%;
    height: fit-content();
}

#_modalClose {
    float: right;
}
