﻿iframe {
    overflow: hidden;
}

.bgoverlay {
    display: none;
    height: 10rem;
    width: 434px;
    position: absolute;
    /*background-color: #c94161;*/
    background-color: white;
    z-index: 2;
    text-align: center;
    line-height: 4;
    font-size: xxx-large;
    color: #f7f7f7;
    border-left: 33px solid whitesmoke;
    border-right: 33px solid whitesmoke;
    border-bottom: none;
    top: 10rem;
}

.bgoverlayAction {
    height: 200px;
    width: 480px;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
}

.bgoverlay2 {
    display: none;
    height: 7rem;
    width: 434px;
    position: absolute;
    background-color: #c94161;
    z-index: 2;
    text-align: center;
    line-height: 4;
    font-size: xxx-large;
    color: #f7f7f7;
    border: 33px solid whitesmoke;
    border-bottom: none;
    border-top: none;
    top: 43rem;
}

.bgoverlay3 {
    display: none;
    height: 32rem;
    width: 480px;
    position: absolute;
    background-color: #c94161;
    /* background-color: white; */
    /* z-index: 2; */
    text-align: center;
    line-height: 10;
    font-size: xxx-large;
    color: #f7f7f7;
 
    border-bottom: none;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    top: 20rem;
}

.bgoverlay2Action {
    height: 25px;
    width: 480px;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    top: 753px;
}

#divInfo {
    height: 10rem;
    color: black;
    font-size: x-large;
    line-height: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
   /* padding-top: 30px;*/
}

#divAmount {
    padding-top: 20px;
}
