﻿
#divEnd {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    display: none;
    background: #00162b;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#divlogo {
    background-color: transparent;
    /* background-image: url("../Content/loading.gif");*/
    content: url('../Content/Image/logo.png');
/*    position: fixed;*/
}

#divContent {
    background-color: #032443;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

@media screen and (max-width:480px) {
    #divContent {
        width: 70%;
    }
}

#divTick {
    padding-top: 10%;
    background-color: transparent;
    /* background-image: url("../Content/loading.gif");*/
    content: url('../Content/Image/tick.png');
    /* position: fixed;*/
}

#divTitle {
    color: #00d08a;
    font-size: 3rem;
    line-height: 2;
}

#divBody {
    color: white;
    font-size: 1rem;
    line-height:2;
    padding-bottom:10%
}

.btnEnd {
    background-color: #00d08a;
    color: white;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: bold;
}