﻿@model   MGatewayBO.Model.UserLoginViewModel
@{
    bool isUpdate = (Model.UserID != null ? true : false);;
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container-fluid">
   

    <div class="form-group col-sm-12 mt-1 ">
        <div hidden>
            @formHelper.AddTextBox(null, "UserID", "User ID", !isUpdate, false)
        </div>
        @formHelper.AddTextBox(null, "UserName", "User Name", !isUpdate, true)
        @formHelper.AddPaswordTextBox(null, "UserPassword", "Password", true, !isUpdate)
        @formHelper.AddTextBox(null, "Email", "Email", true, true)
        @formHelper.AddComboBox(null, "MerchantID", "Merchant", ViewBag.MerchantList, true, true)
        @formHelper.AddToggleBox(Model.Status, "Status", "Status", true)
        @formHelper.AddComboBox(null, "UserRole", "User Role", ViewBag.UserRoleList, true, true)

    </div>

    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button type="submit" id="btnUpdateDetails" class="btn btn-primary">@(isUpdate ? "Update": "Create")</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


