﻿@model     Global.Model.JsGridModel
@{


}
<body>

    <div class="container-fluid">

        <div class="card" id="UserAccountfrm">


            <div class="col-xs-12 section-header">User Account</div>
            <div class="card-body col-sm-12 p-2" id="parentElement">
                <div class="form-group col-12">
                    <div class="text-left">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnAddUser" class="btn btn-primary">Create User</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>
                <div id="gdvUsers"></div>

            </div>

            <div class="card-body col-sm-12 p-2" id="chilElement" style="display:none">

                <div id="UserDetails"></div>

                <div class="form-group col-sm-12">
                    <div class="text-center">
                        <div class="hr10 visible-xs"></div>
                        <button type="button" id="btnBack" class="btn btn-primary">Back</button>
                        <div class="hr10 visible-xs"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</body>
<link rel="stylesheet" type="text/css" href="~/Content/BackOffice/Backoffice.css">
<script type="text/javascript">
  var SerializeModel = JSON.parse('@Html.Raw(Json.Encode(Model))');
    var ViewUserDetailsURL = '@Url.Action("ViewUserDetails", "UserAccount", new { Area = "" })'
    var UpdateUserURL = '@Url.Action("UpdateUser", "UserAccount", new { Area = "" })'
    var LoadUserIndex = '@Url.Action("Index", "UserAccount", new { Area = "" })'
    var statusTemplate = function (value) {
        var backgroundcolor = '#d84d4d'
        if (value == '0') {
            value = 'Inactive'
            backgroundcolor = '#9795a7'
        } else if (value == '1') {
            value = 'Active'
            backgroundcolor = '#337b2b'
        }
        var elem = $('<div>').attr({ style: 'background-color:' + backgroundcolor + ';border-radius: 5px;text-align: center;color: white;font-weight: bold;' }).text(value);
        //var Statuselem = $("<a>").attr("href", value).text(value);
        elem.append(elem)

        return elem;
    }
    var customItemTemplate = {

        AccountStatus: statusTemplate
    }


    var CustomPostCallback = function (data) {
        //to handle if populate grid or normal form
        InitDateRangePicker('.txt_daterange');
        InitDatePicker('.txt_date');
        InitNumeric('.txt_num');

    }

    $('#gdvUsers').IniJsGrid(SerializeModel, customItemTemplate);


    $('#btnBack').click(function (s, e){
        window.location = LoadUserIndex;


    })

    $('#btnAddUser').click(function (s, e) {

        ViewUserDetails(true);
    })


    function ViewUserDetails() {

        var _data = {'vm': {}}
        var ajxNew = new _func.ajxNew();

        ajxNew.url = ViewUserDetailsURL;
        ajxNew.data = _data;

        _func.ajxCall(ajxNew, function (returndata) {
            var data = returndata.returnVal;
            if (returndata) {
                $('#UserDetails').html(data);
                    $('#parentElement').hide();
                    $('#chilElement').show();
                InitDateRangePicker('.txt_daterange');

            };
        });
    }



    $('#chilElement').on('click', '#btnUpdateDetails', function (s, e) {
        var elem = $(this)
        var _data = collectData()
        var ajxNew = new _func.ajxNew();

        ajxNew.url = UpdateUserURL;
        ajxNew.data = _data;
        ajxNew.processData = false;
        ajxNew.contentType = false;

        if (Validate('#UserAccountfrm')) {
            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (data) {
                    if (elem.text() == 'Create') {
                        showMessage('Add Successfully!', true);
                        elem.text("Update");
                    } else {
                        showMessage('Update Successfully!', true);
                    }

                    //$('#gdvUsers').IniJsGrid(data, customItemTemplate);


                } else {
                    showMessage('Duplicate User Name.', false);
                };
            });
        }




    })

    function collectData() {
        var fd = new FormData();
        fd.append('UserID', $('#chilElement').find('#UserID').val())
        fd.append('UserName', $('#chilElement').find('#UserName').val())
        fd.append('UserPassword', $('#chilElement').find('#UserPassword').val())
        fd.append('Email', $('#chilElement').find('#Email').val())
        fd.append('MerchantID', $('#chilElement').find('#MerchantID').val())
        fd.append('UserRole', $('#chilElement').find('#UserRole').val())
        fd.append('Status', ($('#chilElement').find('#Status').is(":checked") ? 1 : 0))
        return fd;
    }







</script>
