﻿@model   MGatewayBO.Model.CashInOutSQLModel
@{
    
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container" id="ManualTransactionfrm">
    <div class="col-xs-12 section-header">@ViewBag.Title  </div>

    <div class="form-group col-sm-12 mt-1 ">
        @formHelper.AddComboBox(null, "TransactionType", "Transaction Type", ViewBag.TransactionTypeList, true, false)
        @formHelper.AddComboBox(null, "WalletType", "Gateway", ViewBag.WalletTypeList, true, false)
        @formHelper.AddNumericBox(null, "Amount", "Send Amount", true, false)
        @formHelper.AddComboBox(null, "WalletNumberCashOut", "Receiver Number", ViewBag.WalletList, true,true)
        @formHelper.AddTextBox(null, "WalletNumberCashIn", "Receiver Number", true, false)
        @formHelper.AddTextBox(null, "MemberPhoneNo", "Sender Number", true, false)
        @formHelper.AddTextBox(null, "TrxID", "TransactionID", true, false)

    </div>

    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button  id="btnUpdateDetails" class="btn btn-primary">Add</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var AddRecordURL = '@Url.Action("AddManualRecord", "CashTransaction", new { Area = "" })'
    initControl();
    initWalletNumber();
    function initControl() {
        if ($('#TransactionType').val() == '2') {
            $('#WalletNumberCashOut').closest('.div-wrapper').show();
            $('#WalletNumberCashIn').closest('.div-wrapper').hide();
            $('#MemberPhoneNo').closest('.div-wrapper').show();
            $('#TrxID').closest('.div-wrapper').show();
        } else {
            //Cash In
            $('#WalletNumberCashOut').closest('.div-wrapper').hide();
            $('#WalletNumberCashIn').closest('.div-wrapper').show();
            $('#MemberPhoneNo').closest('.div-wrapper').hide();
            $('#TrxID').closest('.div-wrapper').hide();
        }
    }

    function initWalletNumber() {
        $('#WalletNumberCashOut').find('option').show()
        $('#WalletNumberCashOut').find('option').removeClass('visible');
        $.each($('#WalletNumberCashOut').find('option'), function (i, v) {
            var optwalletType = $(v).val().split('#')[0];
            if (optwalletType != $('#WalletType').val()) {
                $(v).hide();
            } else {
                $(v).addClass('visible');
            }
        });
        var firstval = $('#WalletNumberCashOut .visible:first').val();
        $("#WalletNumberCashOut").val(firstval)
    }
    $('#btnUpdateDetails').click(function (e) {
        if ($('#TransactionType').val() == '2') {
            if ($('#WalletNumberCashOut').text() == '') {
                alert('Receiver Number is Empty.')
                return;
            }
        } else {
            if ($('#WalletNumberCashIn').val() == '') {
                alert('Receiver Number is Empty.')
                return;
            }
        }
       
        var walletNumber = ($('#TransactionType').val() == '2' ? $("#WalletNumberCashOut :selected").text() : $('#WalletNumberCashIn').val());
        var _data = {
            'TransactionType': $('#TransactionType').val(),
            'WalletType': $('#WalletType').val(),
            'MemberPhoneNo': $('#MemberPhoneNo').val(),
            'WalletNumber': walletNumber,
            'Amount': $('#Amount').val(),
            'TrxID': $('#TrxID').val()
        }
        var ajxNew = new _func.ajxNew();

        ajxNew.url = AddRecordURL;
        ajxNew.data = _data;
        if (Validate('#ManualTransactionfrm')) {
            _func.ajxCall(ajxNew, function (returndata) {
                var data = returndata.returnVal;
                if (returndata) {

                    $('.container :input').not('.btn').val('')
                    if (data.includes('Invalid') == true || data.includes('fail') == true) {
                        showMessage(data, false, 0);
                    } else {
                        showMessage(data, true, 0);
                    }

                };
            });
        }
    
    })

    $('#WalletType').change(function (e) {
        initWalletNumber();
    })
    $('#TransactionType').change(function (e) {
      
        initControl();
        
    })
</script>


