﻿@model MGatewayBO.Model.GatewayDataModel
@{
    bool isUpdate = (Model.GatewayID != null ? true : false);
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
}

<div class="container">
    <div class="col-xs-12 section-header">Gateway Setup</div>

    <div class="form-group col-sm-12 mt-1 ">
     
        @formHelper.AddTextBox(null, "GatewayID", "Gateway ID", !isUpdate, !isUpdate)
        @formHelper.AddTextBox(null, "GatewayKey", "Gateway Key", true, true)
        @formHelper.AddTextBox(null, "GatewayName", "Gateway Name", true, true)
        @formHelper.AddTextBox(null, "GatewayEmail", "Gateway Email", true, true)
     

    </div>

    <div class="form-group col-12">
        <div class="text-center">
            <div class="hr10 visible-xs"></div>
            <button type="submit" id="btnUpdateDetails" class="btn btn-primary">@(isUpdate ? "Update": "Add")</button>
            <div class="hr10 visible-xs"></div>
        </div>
    </div>
</div>


