﻿
@{
    Layout = null;
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
    
}

<head>
    <title>Genkin Pay</title>
</head>
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/loading.css">
<script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
@Html.Partial("~/Views/Shared/_Loading.cshtml")
<div class="container" style="box-shadow: -2px -1px 14px 2px; margin-top: 30px; border-radius: 10px;">
    <div class="col-xs-12 section-header" style=" text-align: center; font-size: 50px; font-weight: bold; ">Genkin Pay API Simulator</div>

    <div class="form-group col-sm-12 mt-1 " id="apikeyFrm">
        @formHelper.AddTextBox("", "APIKEY", "Api Key", true, true)
        <div class="form-group col-12" style="margin-top:10px">
            <div class="text-center">
                <div class="hr10 visible-xs"></div>
                <button type="submit" id="btnConnectApi" class="btn btn-primary" style="margin-bottom: 10px; ">Connect</button>
                <button type="submit" id="btnDisconnectApi" class="btn btn-primary" style="margin-bottom: 10px; display:none;">Disconnect</button>
                <div class="hr10 visible-xs"></div>
            </div>
        </div>

        <div class="col-xs-12 section-header" id="merchantName" style=" text-align: center; font-size: 25px; font-weight: bold; "></div>
    </div>

    <div class="form-group col-sm-12 mt-1 " id="controlfrm" style="display:none">
        @Html.Hidden("MerchantID")
        @formHelper.AddComboBox(ViewBag.PaymentMethod, "TransactionType", "Transaction Type", ViewBag.TransactionType, true, true)
        @formHelper.AddTextBox(ViewBag.Name, "PlayerUserName", "Player Name", true, true)
        @formHelper.AddTextBox(null, "SenderNumber", "Sender Number", true, true)
        @formHelper.AddComboBox(ViewBag.PaymentMethod, "PaymentMethod", "Payment Method", ViewBag.WalletTypeList, true, true)
        @formHelper.AddTextBox(ViewBag.DepositAmount, "Amount", "Amount", true, true)
        @formHelper.AddTextBox(null, "ReceiverNumber", "Receiver Number", true, true)
        @formHelper.AddTextBox(null, "MerchantTransactionID", "Merchant TransactionID", true, true)

        <div class="form-group col-12">
            <div class="text-center">
                <div class="hr10 visible-xs"></div>
                <button type="submit" id="btnDeposit" class="btn btn-primary" style="margin-bottom: 10px;margin-top:10px ">Submit</button>
                <div class="hr10 visible-xs"></div>
            </div>
        </div>

    </div>


</div>


<script type="text/javascript">

    var ConnectApiURL = '@Url.Action("ConnectApi", "PaymentApi", new { Area = ""})'
    var PaymentRequestURL = '@Url.Action("PaymentRequest", "PaymentApi", new { Area = "" })'

    initSender();
    initConnectApiCookies();

    $('#btnDeposit').click(function (e) {
        if ($('#ReceiverNumber').val() == '' && $('#TransactionType').val() == 'Withdrawal') {
            alert('Receiver Number is required!')
            return false;
        }

        if ($('#SenderNumber').val() == '' && $('#TransactionType').val() == 'Deposit') {
            alert('Sender Number is required!')
            return false;
        }

        if ($('#MerchantTransactionID').val() == '') {
            alert('Transaction ID is required!')
            return false;
        }


        var URLobj = {
            PlayerUserName: $('#PlayerUserName').val(),
            Amount: $('#Amount').val(),
            PaymentMethod: $('#PaymentMethod').val(),
            TransactionType: $('#TransactionType').val(),
            SenderNumber: $('#SenderNumber').val(),
            ReceiverNumber: $('#ReceiverNumber').val(),
            MerchantTransactionID: $('#MerchantTransactionID').val(),

        }
        var data = btoa(JSON.stringify(URLobj));

        $("#loadingscreen").show();
        $.ajax({
            type: 'POST',
            url: PaymentRequestURL,
            data: { 'data': data,'MerchantID' :  $('#MerchantID').val()},

        }).done(function (data) {

            if (data.transactionID == '') {
                alert(data.resultmsg);
            } else {
               // window.location.href = 'https://localhost:44344/' + 'PaymentApi/Index?data=' + data.transactionID;

                window.open('@MGatewayHelpers.GlobalProperties.DomainPath' + '/PaymentApi/Index?data=' + data.transactionID);
            }


            $('#loadingscreen').hide();
        });




      //  window.location.href = 'https://localhost:44344/' + 'PaymentApi/Index?data=' + data;

    })

    $('#TransactionType').change(function (e) {

        initSender()
    })

    function initSender() {
        if ($('#TransactionType').val() == 'Deposit') {
            $('#SenderNumber').closest('.div-wrapper').show();
            $('#ReceiverNumber').closest('.div-wrapper').hide();
        } else {
            $('#SenderNumber').closest('.div-wrapper').hide();
            $('#ReceiverNumber').closest('.div-wrapper').show();
        }

        $('#SenderNumber').val(''),
            $('#ReceiverNumber').val('')
            $('#MerchantTransactionID').val('')

    }

    $('#btnConnectApi').click(function (e) {
        if ($('#APIKEY').val() == '') {
            alert('Invalid Api key.')
        } else {
            ConnectApi($('#APIKEY').val());
        }


    })

    function connectApiformControl(success) {
        if (success) {
            $('#APIKEY').prop('disabled', 'true')
            $('#controlfrm').show();
            $('#btnDisconnectApi').show();
            $('#btnConnectApi').hide();
        } else {
            $('#APIKEY').prop('disabled', '')
            $('#controlfrm').hide();
            $('#btnDisconnectApi').hide();
            $('#btnConnectApi').show();
            $('#merchantName').text('');

        }




    }

    function initConnectApiCookies() {
        var apikey = localStorage.getItem("genkinapikey")
        if (apikey != null) {
            $('#APIKEY').val(apikey);
            ConnectApi(apikey);
        }

    }
    function ConnectApi(apikey) {
        $("#loadingscreen").show();
        $.ajax({
            type: 'POST',
            url: ConnectApiURL,
            data: { 'ApiKey': $('#APIKEY').val() },

        }).done(function (data) {

            if (data.merchantID != null && data.merchantID != '') {

                connectApiformControl(true);
                localStorage.setItem("genkinapikey", $('#APIKEY').val());
                $('#merchantName').text('Welcome ' + data.merchantName);
                $('#MerchantID').val(data.merchantID);
            } else {
                alert('Invalid Api key.')
            }


            $('#loadingscreen').hide();
        });

    }

    $('#btnDisconnectApi').click(function (e) {

        connectApiformControl(false);


    })





</script>
