﻿@model MGatewayBO.Model.CashInOutApiModel
@{
    Layout = null;

}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genkin Pay</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
</head>
<body>

    <header class="site-header" id="header">
        @*<img src="~/FileLibrary/GenKinPay_1.png" style="border-radius: 30%;" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
            width="200px" alt="profile">*@
        <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
    </header>

    <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <p class="main-content__body" data-lead-id="main-content-body">
            Withdrawal ID : @Model.MerchantTrxID
            </br>
            Amount : <span style="font-size:100px">@Model.Amount </span>
            </br>
            </br>
            Your Withdrawal has been successfully submit. Please check your wallet after 5-10 minutes.
        </p>
        @if (string.IsNullOrEmpty(ViewBag.RedirectURL) == false)
        {
            <p class="main-content__body" data-lead-id="main-content-body" id="redirectmsg">You will be redirecting to merchant page in <span id="remainingsec">30</span></p>
            <p class="main-content__body" data-lead-id="main-content-body">or click <a href='@ViewBag.RedirectURL'>here</a></p>
        }

    </div>

    <footer class="site-footer" id="footer">
        <p class="site-footer__fineprint" id="fineprint">Copyright ©2022 | Genkin Pay All Rights Reserved</p>
    </footer>
</body>
</html>

<script>
    var RedirectURL = '@ViewBag.RedirectURL';
    CountDownTimer()
    function CountDownTimer() {
        if (RedirectURL != '') {
            var x = setInterval(function () {
                var currentTime = +$('#remainingsec').text();

                if ((currentTime) == 0) {
                    window.location.href = '@ViewBag.RedirectURL';

                } else {

                    $('#remainingsec').text( currentTime - 1);
                }


            }, 1000);
        } else {

        }

    }
</script>