﻿@model MGatewayBO.Model.CashInOutApiModel
@{
    ViewBag.Title = "GenKin Payment Gateway";
    ReportPortal.Helper.FormHelper formHelper = new ReportPortal.Helper.FormHelper(Html, ViewContext);
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>GenKin Pay</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/loading.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/site.css">*@
    <!--===============================================================================================-->
    <style>
        .btn-color {
            background-color: #BCFD4C;
            color: black;
        }

        .profile-image-pic {
            height: 100px;
            width: 100px;
            object-fit: cover;
        }



        .cardbody-color {
            background-color: #8f8b8b40;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body style="">
    @*@using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnURL }, FormMethod.Post))
        {*@
    @Html.Partial("~/Views/Shared/_Loading.cshtml")
    <div class="container">
        <div class="row"></div>
        <div class="row" style="flex-direction: column; height: 100%; display: flex; justify-content: center; align-items: center; border-radius: 5px; margin-top: 5%; box-shadow: 0px 0px 7px 1px grey;">
            <div class="col-md-12 offset-md-3">
                <img src="~/FileLibrary/GenKinPay_1.png" style="border-radius: 30%;float:left;" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                     width="100px" alt="profile">
                <h2 class="text-center text-dark mt-5">
                    @Html.Hidden("ID", Model.ID)
                    @Html.Hidden("MerchantID", Model.MerchantID)
                    Transaction ID : @Model.MerchantTrxID
                </h2>
                <div class="text-center mb-5 text-dark">Powered by GenKin Pay</div>
                <div class="text-center">
                    @*<img src="~/FileLibrary/LoginHeader.png" style="border-radius: 30%;" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                        width="200px" alt="profile">*@
                </div>
                <div class="card my-5" style="border: none; background: transparent;">

                    <form class="card-body cardbody-color p-lg-5" style="border-radius: 20px;">
                        <h2 class="text-center text-dark ">Payment Details</h2>
                        <div class="mb-3">
                            <div>Player User Name : @Model.MemberPhoneNo </div>
                        </div>
                        <div class="mb-3">
                            <div>Deposit Amount : @Model.Amount</div>
                        </div>
                        <div class="mb-3">
                            <div>Payment method : @Model.WalletType.ToString()</div>
                        </div>
                        <div class="mb-3">
                            <div>Transfer to <span style="font-size:30px;font-weight:bold">@Model.WalletNumber </span></div>
                        </div>


                        @formHelper.AddFileInput(0, "", "Receipt", "Upload Receipt", true, false)

                        @formHelper.AddTextBox("", "TransactionID", "Transaction ID", true, false)

                        <div class="text-center"><button type="submit" id="btnLogin" class="btn btn-color px-5 mb-5 mt-5">Confirm Payment</button></div>


                        @*<div id="emailHelp" class="form-text text-center mb-5 text-dark">
                                Not
                                Registered? <a href="#" class="text-dark fw-bold">
                                    Create an
                                    Account
                                </a>
                            </div>*@
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>

<script>
    var ConfirmPaymentURL = "@Url.Action("ConfirmPayment", "PaymentApi")";
    
    $('#btnLogin').on('click', function (e) {
        $('#txtmsg').text('');
        var input = $('.limiter .validate-input .input100');
        e.preventDefault();

        var check = true;

        for (var i = 0; i < input.length; i++) {
            if (validate(input[i]) == false) {
                showValidate(input[i]);
                check = false;
            }
        }

        if (check) {
            var fd = new FormData();
            fd.append('PlayerUserName', '@Model.MemberID')
            fd.append('ID', '@Model.ID')
            fd.append('MerchantID', '@Model.MerchantID')
            fd.append('RedirectURL', '@ViewBag.ReRedirectURL')
            fd.append('PlayerTransactionID', $('#TransactionID').val())
            fd.append('receipt', $('#Receipt')[0].files[0])


            $.ajax({
                type: 'POST',
                url: ConfirmPaymentURL,
                data: fd,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $("#loadingscreen").show();
                },
                success: function (result) {
                   if (result.msg != '') {
                       alert(result.msg);
                    } else {
                       window.location.href = result.URL;
                    }

                    $('#loadingscreen').hide();
                },
                fail: function (xhr, textStatus, errorThrown) {
                    alert('Connection Failed');
                    $('#loadingscreen').hide();
                }
            });
        } else {

            $('#loadingscreen').hide();
        }


    });


    function validate(input) {

        if ($(input).val().trim() == '') {
            return false;
        }

    }

    function showValidate(input) {
        var thisAlert = $(input).parent();

        $(thisAlert).addClass('alert-validate');
    }

    function hideValidate(input) {
        var thisAlert = $(input).parent();

        $(thisAlert).removeClass('alert-validate');
    }


</script>